{% extends "base_admin.html" %}
{% load i18n %}
{% block content %}

    <div class="row">

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{% trans "Meta" %}</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>{% trans "Name" %}</dt>
                    <dd>{{ worker.name }}</dd>
                    <dt>{% trans "Phone" %}</dt>
                    <dd>{{ worker.phone }}</dd>
                    <dt>{% trans "Mail" %}</dt>
                    <dd>{{ worker.email }}</dd>
                    <dt>{% trans "T-shirt" %}</dt>
                    <dd>{{ worker.get_t_shirt_size_display }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{% trans "Tasks" %}</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Start" %}</th>
                        <th>{% trans "End" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Description" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in worker.schedules %}
                    <tr>
                        <td><a href="{% url "itdagene.workschedule.view_task" task.pk %}">{{ task.title }}</a></td>
                        <td>{{ task.start_time }}</td>
                        <td>{{ task.end_time }}</td>
                        <td>{{ task.date }}</td>
                        <td>{{ task.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>

{% endblock %}
