{% extends base_template %}
{% load i18n %}
{% block content %}

    <h1>{% trans "Worker" %}</h1>
    <table cellspacing="0">
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Phone" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "T-Shirt" %}</th>
        </tr>
        <tr>
            <td>{{ worker.name }}</a></td>
            <td>{{ worker.phone }}</td>
            <td>{{ worker.email }}</td>
            <td>{{ worker.t_shirt_size }}</td>
        </tr>
    </table>

    <a href="{% url app.workschedule.views.edit_worker worker.pk %}" class="button">{% trans "Edit" %}</a>

    <h1>{% trans "Tasks" %}</h1>
    
    {% for task in worker.schedules %}

    <h1><a href="{% url app.workschedule.views.view_task task.pk %}">{{ task.title }}</a></h1>
    <table cellspacing="0">
        <tr>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th>{% trans "Date" %}<th>
        </tr>
        <tr>
            <td>{{ task.start_time }}</td>
            <td>{{ task.end_time }}</td>
            <td>{{ task.date }}</td>
        </tr>
    </table>
    <strong>{% trans "Description" %}</strong>
    <br>
    {{task.description}}
    <br>
    <br>

    {% endfor %}



{% endblock %}
