{% extends "base_admin.html" %}

{% load i18n %}

{% block content %}
<div class="row">
<div class="col-lg-12">
    <div class="box box-danger box-solid">
        <div class="box-header">
            <h3 class="box-title">{% trans "Danger Zone" %}</h3>
        </div>
        <div class="box-body">
             <form method="post" action="{% url 'app.users.views.user_delete' person.pk %}">
                {% csrf_token %}
                <p>{% blocktrans with user=person.get_full_name %}Are you sure you want to delete the user {{ user }}?{% endblocktrans %}</p>
                <p><button type="submit" class="btn btn-danger">{% trans "Delete user" %}</button></p>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}