{% extends "base_admin.html" %}

{% load i18n thumbnail  %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "General" %}</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>{% trans "Username" %}</td>
                                <td>{{ person.username }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Email" %}</td>
                                <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                            </tr>
                            <tr>
                                <td>{% trans "Phone" %}</td>
                                <td><a href="tel:{{ person.phone }}">{{ person.phone }}</a></td>
                            </tr>
                            <tr>
                                <td>{% trans "Language" %}</td>
                                <td>{{ person.get_language_display }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Groups" %}</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for group in person.groups.all %}
                                {% if perms.auth.change_group %}
                                    <tr><td><a href="{% url "itdagene.app.admin.views.groups.view" group.pk %}">{{ group }}</a></td></tr>
                                {% else %}
                                    <tr><td>{{ group }}</td></tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            {% if person.photo %}
            <div class="box box-primary">
            <div class="box-body">
            {% thumbnail person.photo "200" as im %}
            <p style="text-align: center">
                <img src="{{ im.url }}" style="width:100%; max-width: 150px;" class="img-thumbnail">
            </p>
            {% endthumbnail %}
            </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
        <div class="btn-group">
            <a href="{% url "itdagene.app.users.views.user_list" %}" class="btn btn-default">{% trans "Go Back" %}</a>
            <a href="{% url "itdagene.app.users.views.vcard" person.pk %}" class="btn btn-default">{% trans "vCard" %}</a>
            {% if perms.core.change_user or user.pk == person.pk %}
            <a href="{% url "itdagene.app.users.views.user_edit" person.pk %}" class="btn btn-primary">{% trans "Edit User" %}</a>
            <a href="{% url "itdagene.app.users.views.user_edit_password" person.pk %}" class="btn btn-primary">{% trans "Edit Password" %}</a>
            {% endif %}
            {% if perms.core.send_welcome_email %}
            <a href="{% url "itdagene.app.users.views.send_welcome_email" person.pk %}" class="btn btn-primary">{% trans "Send welcome email" %}</a>
            {% endif %}
            {% if perms.core.delete_user %}
            <a href="{% url "itdagene.app.users.views.user_delete" person.pk %}" class="btn btn-danger">{% trans "Delete User" %}</a>
        {% endif %}
        </div>
        </div>
        <div class="clearfix" style=" padding-bottom: 20px;"></div>

    </div>

{% endblock %}
