{% extends "base_admin.html" %}

{% load i18n thumbnail  %}

{% block content %}

    <div class="row">
        <div class="col-md-10">
            <dl class="dl-horizontal">
                <dt>{% trans "Phone" %}</dt>
                <dd>{{ person.phone }}</dd>
                <dt>{% trans "Email" %}</dt>
                <dd>
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                </dd>
            </dl>

            <h4>{% trans "Groups" %}</h4>
            <dl>
                {% for group in person.groups.all %}
                    {% if perms.auth.change_group %}
                        <dt><a href="{% url "app.admin.views.groups.view" group.pk %}">{{ group }}</a></dt>
                    {% else %}
                        <li>{{ group }}</li>
                    {% endif %}
                {% endfor %}
            </dl>

            <div class="btn-group">
                <a href="{% url 'app.users.views.user_list' %}" class="btn btn-default">{% trans "Go Back" %}</a>
                {% if perms.core.change_user or user.pk == person.pk %}
                <a href="{% url 'app.users.views.user_edit' person.pk %}" class="btn btn-primary">{% trans "Edit User" %}</a>
                <a href="{% url 'app.users.views.user_edit_password' person.pk %}" class="btn btn-primary">{% trans "Edit Password" %}</a>
                {% endif %}
                {% if perms.core.delete_user %}
                <a href="{% url 'app.users.views.user_delete' person.pk %}" class="btn btn-danger">{% trans "Delete User" %}</a>
                {% endif %}
            </div>
            <div class="clearfix" style=" padding-bottom: 20px;"></div>
        </div>

        <div class="col-md-2">
            {% if person.photo %}
            {% thumbnail person.photo "200" as im %}
            <p style="text-align: center">
                <img src="{{ im.url }}" style="width:100%; max-width: 150px;" class="img-thumbnail">
            </p>
            {% endthumbnail %}
            {% endif %}
        </div>
    </div>

{% endblock %}