{% extends "base_admin.html" %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "Username" %}</th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Year" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Phone" %}</th>
                            {% if perms.core.delete_user or perms.core.change_user %}
                            <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in persons %}
                        <tr>
                            <td><a href="{% url "itdagene.app.users.views.user_detail" person.pk %}">{{ person.username }}</a></td>
                            <td>{{ person.get_full_name }}</td>
                            <td>{{ person.year }}</td>
                            <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                            <td><a href="tel:{{ person.phone }}">{{ person.phone }}</a></td>
                            {% if perms.core.delete_user or perms.core.change_user %}
                            <td style="text-align: right;">
                                <span class="btn-group">
                                    {% if perms.core.change_user %}
                                    <a href="{% url "itdagene.app.users.views.user_edit" user.pk %}" class="btn btn-xs btn-primary">{% trans "Edit User" %}</a>
                                    <a href="{% url "itdagene.app.users.views.user_edit_password" user.pk %}" class="btn btn-xs btn-primary">{% trans "Change Password" %}</a>
                                    {% endif %}
                                    {% if perms.core.delete_user %}
                                    <a href="{% url "itdagene.app.users.views.user_delete" user.pk %}" class="btn btn-xs btn-danger">{% trans "Delete User" %}</a>
                                    {% endif %}
                                </span>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}