{% extends "base.html" %}
{% load i18n static %}

{% block body_class %}public{% endblock %}

{% block styles %}
<link href="{% static "css/admin/AdminLTE.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

    <section class="content">
        <div class="error-page">
            <h2 class="headline">500</h2>
            <div class="error-content">
                <h3><i class="fas fa-warning text-yellow"></i> {% trans "Oops! Something went wrong." %}</h3>
                <p>
                    {% trans "We will work on fixing that right away." %}
                    {% blocktrans %}
                        Meanwhile, you may <a href="/">return to the frontpage</a>.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </section>

{% endblock %}
