{% extends "base_admin.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
    <div class="col-lg-4">
    <div class="card card-outline card-danger">
        <div class="card-header">
            <h3 class="card-title">{% trans "Bugs" %}</h3>
        </div>
        <div class="card-body no-padding">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Created by" %}</th>
                    <th>{% trans "Assigned to" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for issue in bugs %}
                    <tr>
                        <td><a href="{% url "itdagene.feedback.issues.view" issue.pk %}">{{ issue.title }}</a>
                        </td>
                        <td>{% if issue.creator %}<a href="{% url "itdagene.users.user_detail" issue.creator.pk %}">{{ issue.creator }}{% endif %}</a></td>
                        <td>{% if issue.assigned_user %}<a href="{% url "itdagene.users.user_detail" issue.assigned_user.pk %}">{{ issue.assigned_user }}{% endif %}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card card-outline card-danger">
        <div class="card-header">
            <h3 class="card-title">{% trans "Features" %}</h3>
        </div>
        <div class="card-body no-padding">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Created by" %}</th>
                    <th>{% trans "Assigned to" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for issue in features %}
                    <tr>
                        <td><a href="{% url "itdagene.feedback.issues.view" issue.pk %}">{{ issue.title }}</a>
                        </td>
                       <td>{% if issue.creator %}<a href="{% url "itdagene.users.user_detail" issue.creator.pk %}">{{ issue.creator }}{% endif %}</a></td>
                        <td>{% if issue.assigned_user %}<a href="{% url "itdagene.users.user_detail" issue.assigned_user.pk %}">{{ issue.assigned_user }}{% endif %}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card card-outline card-danger">
        <div class="card-header">
            <h3 class="card-title">{% trans "Cache-bugs" %}</h3>
        </div>
        <div class="card-body no-padding">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Created by" %}</th>
                    <th>{% trans "Assigned to" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for issue in cache_bugs %}
                    <tr>
                        <td><a href="{% url "itdagene.feedback.issues.view" issue.pk %}">{{ issue.title }}</a>
                        </td>
                        <td>{% if issue.creator %}<a href="{% url "itdagene.users.user_detail" issue.creator.pk %}">{{ issue.creator }}{% endif %}</a></td>
                        <td>{% if issue.assigned_user %}<a href="{% url "itdagene.users.user_detail" issue.assigned_user.pk %}">{{ issue.assigned_user }}{% endif %}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>


{% endblock %}
