{% load i18n %}
<ul>
    <li><a href="{% url "itdagene.app.feedback.views.issues.list" %}">{% trans "Issues" %}</a></li>
    <li><a href="{% url "itdagene.app.feedback.views.issues.my_issues" %}">{% trans "My issues" %}</a></li>
    <li><a href="{% url "itdagene.app.feedback.views.issues.edit" %}">{% trans "Add issue" %}</a></li>
    {% if issue.pk %}
        <li><a href="{% url "itdagene.app.feedback.views.issues.edit" issue.pk %}">{% trans "Edit issue" %}</a></li>
        <li><a href="{% url "itdagene.app.feedback.views.issues.solved" issue.pk %}">{% trans "Mark issue as solved" %}</a></li>
    {% endif %}
</ul>