{% extends "base_admin.html" %}
{% load i18n %}
{% load markdown_tool %}
{% load filters %}
{% load comments %}

{% block content %}
    <div class="row">
    <div class="col-lg-6">
        <div class="box {% if issue.is_solved %}box-success{% else %}box-danger{% endif %}">
            <div class="box-header">
                <h3 class="box-title">{% trans "Metadata" %}</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>{% trans "Created by" %}</dt>
                    <dd><a href="{% url "itdagene.app.users.views.user_detail" issue.creator.pk %}">{{ issue.creator }}</a>, {{ issue.date_created|timesince }} {% trans "ago" %}</dd>
                    <dt>{% trans "Type" %}</dt>
                    <dd>{{ issue.get_type_display }}</dd>
                    <dt>{% trans "status" %}</dt>
                    <dd>{{ issue.get_status_display }}</dd>
                    <dt>{% trans "Solved" %}</dt>
                    <dd>{{ issue.is_solved|yesno|capfirst }}</dd>
                    {% if issue.assigned_user %}
                        <dt>{% trans "Assigned user" %}</dt>
                        <dd><a href="{% url "itdagene.app.users.views.user_detail" issue.assigned_user.pk %}">{{ issue.assigned_user }}</a></dd>
                    {% endif %}
                    {% if issue.deadline %}
                        <dt>{% trans "Deadline" %}</dt>
                        <dd>{{ issue.deadline|datetime }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>

        {% if not issue.assigned_user and request.user.is_staff %}
            {% include "form_clean.html" %}
        {% endif %}

    </div>

    <div class="col-lg-6">
        <div class="box {% if issue.is_solved %}box-success{% else %}box-danger{% endif %}">
            <div class="box-header">
                <h3 class="box-title">
                    {% trans "Description" %}
                </h3>
            </div>
            <div class="box-body">
                {{ issue.title }}
                <br/>
                <br/>
                {{ issue.description|markdownize }}
            </div>
        </div>
    </div>

    </div>

    <div class="row">
    <div class="col-lg-12">

        {% load_comments issue %}

    </div>
    </div>

{% endblock %}
