hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
#wrapper {
  padding-left: 260px;
  padding-top: 5px;
  padding-right: 20px;
}
#wrapper-sidebar {
  margin-left: -245px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}
#page-content-wrapper {
  width: 100%;
}
.sidebar-nav ul ul {
  display: none;
}
.sidebar-nav ul .active ul {
  display: block !important;
  list-style: none;
  padding-top: 5px;
}
.inset {
  padding: 20px;
}
.company-table {
  margin-top: 10px;
}
.panel-heading a {
  margin-left: 15px;
}
#announcement-meta-small {
  padding-top: -10px;
}
#add-package-btn {
  margin-bottom: 10px;
}
#meeting-table {
  margin-top: 10px;
}
