.no-underline {
  text-decoration: none;
}
body .issue-stats .issue-number {
  font-size: 40px;
  display: block;
}
body .issue-stats .issue-descritpion {
  font-size: 20px;
  display: block;
}
body.public .error-page {
  margin-top: 100px !important;
}
body.public.under_development .error-page > .error-content {
  margin-left: 130px;
}
@media (max-width: 768px) {
  body.public.under_development .error-page > .error-content {
    margin-left: 0px;
  }
}
