{% extends "core/profiles/base.html" %}

{% load i18n thumbnail %}

{% block content %}
    <div class="profiles">
    {% for profile in profiles %}
    <div class="profile" id="{{ profile.pk }}">
    {% if profile.photo %}
        {% thumbnail profile.photo "100" as im %}
            <img src="{{ im.url }}" style="width:{{ im.width }};" class="img-circle">
        {% endthumbnail %}
    {% endif %}
    <h2>{{ profile }}</h2>
    <p>
        <strong>{{ profile.position }}</strong><br/>
        {% if request.user.is_authenticated %}<strong>{% trans "Phone number" %}:</strong> {{ profile.phone }}<br/>{% endif %}
        <strong>{% trans "Email" %}:</strong> {% if profile.position.email %}{{ profile.position.email }}{% else %}{{ profile.user.email }}{% endif %}<br/>
        {% if profile.position.email %}<strong>{% trans "Email" %}:</strong> {{ profile.user.email }}{% endif %}<br/>
    </p>
    </div>
    {% endfor %}
    </div>
{% endblock %}
