{% extends "base_public_not_frontpage.html" %}

{% load i18n thumbnail %}

{% block include %}
    <link rel="stylesheet" href="{{ STATIC_URL }}profiles/css/profile_public.css">
{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "The Board" %}</h1>
    {% for profile in profiles %}
        <div class="col-md-4 col-sm-6 text-center" id="{{ profile.pk }}">
            <div class="profile-name"><h3>{{ profile }}</h3></div>
            {% thumbnail profile.photo "180x180" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive img-circle center-block">
            {% empty %}
                <img src="{{ STATIC_URL }}img/user_blank.png" width="180px" class="img-responsive img-circle center-block"/>
            {% endthumbnail %}
            <p>
                <strong>{{ profile.position }}</strong><br/>
                {% if request.user.is_authenticated %}<strong>{% trans "Phone number" %}:</strong> {{ profile.phone }}<br/>{% endif %}
                <strong>{% trans "Email" %}:</strong> {% if profile.position.email %}{{ profile.position.email }}{% else %}{{ profile.user.email }}{% endif %}<br/>
            </p>
        </div>
    {% endfor %}
{% endblock %}