{% load i18n %}

<ul class="treeview-menu">
    <li><a href="{% url 'users:list' %}">{% trans "Users" %}</a> </li>
    <li>
        {% if perms.auth.add_user %}
        <a href="{% url 'users:create' %}">{% trans "Add User" %}</a>
        {% endif %}
    </li>
    <li><a href="{% url 'users:edit' user.pk %}">{% trans "Edit User" %}</a></li>
    <li><a href="{% url 'users:edit_profile' user.pk %}">{% trans "Edit Profile" %}</a></li>
    <li><a href="{% url 'users:edit_password' user.pk %}">{% trans "Change Password" %}</a></li>
</ul>