Django==1.6.5
Markdown
Pillow
South
django-fabric
django-widget-tweaks
psycopg2
python-dateutil
pytidylib
vobject
git+git://github.com/mariocesar/sorl-thumbnail.git#egg=sorl-thumbnail
django-debug-toolbar
git+git://github.com/jbalogh/django-debug-cache-panel.git#egg=cache-panel
twython
django-crispy-forms
