Django==1.7
Markdown
Pillow
South
django-fabric
django-widget-tweaks
psycopg2
python-dateutil
pytidylib
vobject
git+git://github.com/mariocesar/sorl-thumbnail.git#egg=sorl-thumbnail
django-crispy-forms
django-debug-toolbar
django-cache-panel
django-extensions
ipython
tweepy
python-instagram
django-celery
redis
