{% extends base_template %}
{% load i18n %}
{% load filters %}

{% block content %}
    <h1>{% trans "Room registrations" %}</h1>
    <table cellspacing="0">
        <tr>
            <th>{% trans "Company" %}</th>
            <th>{% trans "Room number" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Confirmed" %}</th>
        </tr>
    {% for room in room_registrations %}
        <tr>
            <td>{{ room.company }}</td>
            <td>{{ room.room_nr }}</td>
            <td>{{ room.date }}</td>
            <td>{{ room.time_start }} - {{ room.time_end }}</td>
            <td>{{ room.confirmed|boolean }}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url "add_room_registration" %}" class="button">{% trans "Add room registration" %}</a>
{% endblock %}
