{% extends "base_admin.html" %}
{% load i18n staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
        <div class="card card-outline card-primary">
            <div class="card-body no-padding">
                <table class="table table-hover table-striped tablesorter" id="myTable">
                <thead>
                <tr>
                    <th>{% trans "Page" %}</th>
                    <th>{% trans "Active" %}</th>
                    <th>{% trans "Info page" %}</th>
                    {% if perms.pages.change_page %}
                    <th>{% trans "Actions" %}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>
                                {% comment "fixme" %}
                                <a href="{% url "itdagene.pages.view_page" page.slug %}">{{ page }}</a>
                                {% endcomment %}
                                <span>{{ page }}</span>
                            </td>
                            <td>
                                {% if page.active %}
                                    <i style="color: green;" class="fas fa-check"></i>
                                {% else %}
                                    <i style="color: red;" class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if page.is_infopage %}
                                    <i style="color: green;" class="fas fa-check"></i>
                                {% else %}
                                    <i style="color: red;" class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                            <span class="btn-group">
                            {% if perms.pages.change_page %}
                                <a href="{% url "itdagene.pages.edit" page.slug %}" class="btn btn-xs btn-primary">{% trans "Edit" %}</a>
                            {% endif %}
                            {% if perms.pages.delete_page %}
                                <a href="{% url "itdagene.pages.delete" page.slug %}" class="btn btn-xs btn-danger">{% trans "Delete" %}</a>
                            {% endif %}
                            </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block inline-scripts %}
    <script src="{% static "lib/tablesorter/dist/js/jquery.tablesorter.combined.min.js" %}"></script>
    <script>
        $(document).ready(function()
                {
                    $("#myTable").tablesorter({textExtraction: 'complex'});
                }
        );
    </script>
{% endblock %}
