{% extends "base_admin.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <table class="table table-hover">
                {% for page in pages %}
                    <tr>
                        <td><a href="{% url "app.pages.views.view_page" page.slug %}">{{ page }}</a></td>
                        {% if perms.pages.add_page %}
                            <td><a href="{% url "app.pages.views.edit" page.slug %}">EDIT</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}