{% extends base_template %}
{% load i18n thumbnail %}
{% block content %}
<div class="chat_messages">
    <ul>
        {% for comment in comments %}
            <li>
                <span>{{ comment.timestamp|timesince }}</span>
                {% if comment.user.profile.photo %}
                    <a href="#" class="avatar">
                        {% thumbnail comment.user.profile.photo "40x40" crop="center" as im %}
                            <img src="{{ im.url }}" style="width:{{ im.width }}px; height:{{ im.height }}px;">
                        {% endthumbnail %}
                    </a>
                {% endif %}
                <a href="{% url view_profile comment.user.pk %}" class="username">{{ comment.user.profile }}</a> {% trans "about" %} <a href="{% url view_company comment.company.pk %}">{{ comment.company.name }}</a>
                <p>{{ comment.content }}</p>
            </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}