{% load i18n thumbnail %}

<ul class="list-unstyled">
    {% for comment in comments %}
        <li>
            <div class="media">
                <a class="pull-left" href="#">
                    {% thumbnail comment.user.profile.photo "40x40" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-circle" style="width:{{ im.width }}px; height:{{ im.height }}px;">
                    {% endthumbnail %}
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <strong><a href="#" class="username">{{ comment.user.profile }}</a></strong>&emsp;<small>{{ comment.timestamp|timesince }}</small>
                    </div>
                    <p>{{ comment.content }}</p>
                </div>
            </div>
        </li>
        <hr/>
    {% endfor %}

</ul>