{% extends "base_admin.html" %}
{% load i18n staticfiles %}

{% block content %}
    <div class="row">
    <div class="col-lg-12">
    <div class="card card-outline card-primary">
        <div class="card-body no-padding">
            <table class="table table-hover tablesorter" id="myTable">
                <thead>
                <tr>
                    <th>{% trans "Photo" %}</th>
                    <th>{% trans "Active" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
                </thead>
                {% for photo in photos %}
                    <tr>
                        <td>
                            <a href="https://itdagene.no/uploads/gallery/{{ photo.filename }}" target="_blank">{{ photo.filename }}</a>
                            <img src="{{ photo.photo.url }}" alt="{{ photo }}" style="max-width: 69px; max-height: 69px;">
                        </td>
                        <td>
                            {% if photo.active %}
                                <i style="color: green;" class="fas fa-check"></i>
                            {% else %}
                                <i style="color: red;" class="fas fa-times"></i>
                            {% endif %}
                        </td>
                        <td>
                            <span class="btn-group">
                            {% if perms.gallery.edit_photo %}
                                <a href="{% url "itdagene.gallery.edit_photo" photo.pk %}""><i class="fas fa-pen"></i> {% trans "Edit" %}</a>
                            {% endif %}
                            {% if perms.faq.delete_question %}
                                <a href="{% url "itdagene.gallery.delete_photo" photo.pk %}""><i class="fas fa-trash"></i> {% trans "Delete" %}</a>
                            {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block inline-scripts %}
    <script src="{% static "lib/tablesorter/dist/js/jquery.tablesorter.combined.min.js" %}"></script>
    <script>
        $(document).ready(function()
                {
                    $("#myTable").tablesorter({textExtraction: 'complex'});
                }
        );
    </script>
{% endblock %}