{% extends "base_admin.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-body">
                <strong>
                    <a href="{% url "itdagene.feedback.evalutions.report" prev_year %}">{% trans "See previous evaluation forms" %}</a>
                </strong>
                <br />
                <strong>{% blocktrans with evaluations_count=evaluations.count percentage_want_to_come_back=percentage_want_to_come_back %}
                    {{ evaluations_count }} companies has answered the feedback, {{ percentage_want_to_come_back }}% will come back.
                {% endblocktrans %}</strong>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{% trans "Average ratings" %}</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>{% trans "Internship marathon" %}</dt>
                    <dd>{{ avg_internship_marathon_rating }}</dd>

                    <dt>{% trans "Course" %}</dt>
                    <dd>{{ avg_course_rating }}</dd>

                    <dt>{% trans "Visitors" %}</dt>
                    <dd>{{ avg_visitors_rating }}</dd>

                    <dt>{% trans "Interview location" %}</dt>
                    <dd>{{ avg_interview_location_rating }}</dd>

                    <dt>{% trans "Banquet" %}</dt>
                    <dd>{{ avg_banquet_rating }}</dd>
               </dl>
            </div>
        </div>
         <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{% trans "Improvement Opportunities" %}</h3>
            </div>
            <div class="box-body">

                <h4>{% trans "Internship marathon" %}</h4>
                {% for eval in evaluations %}
                    <ul>
                    {% if eval.internship_marathon_improvement %}<li>{{ eval.internship_marathon_improvement }}</li>{% endif %}
                    </ul>
                {% endfor %}
                <h4>{% trans "Course" %}</h4>
                {% for eval in evaluations %}
                    <ul>
                    {% if eval.course_improvement %}<li>{{ eval.course_improvement }}</li>{% endif %}
                    </ul>
                {% endfor %}
                <h4>{% trans "Interview location" %}</h4>
                {% for eval in evaluations %}
                    <ul>
                    {% if eval.interview_location_improvement %}<li>{{ eval.interview_location_improvement }}</li>{% endif %}
                    </ul>
                {% endfor %}
                <h4>{% trans "Banquet" %}</h4>
                {% for eval in evaluations %}
                    <ul>
                    {% if eval.banquet_improvement %}<li>{{ eval.banquet_improvement }}</li>{% endif %}
                    </ul>
                {% endfor %}
                <h4>{% trans "Opening Hours" %}</h4>
                {% for eval in evaluations %}
                    <ul>
                    {% if eval.opening_hours %}<li>{{ eval.opening_hours }}</li>{% endif %}
                    </ul>
                {% endfor %}
                <h4>{% trans "General improvement" %}</h4>
                {% for eval in evaluations %}
                    <ul>
                    {% if eval.improvement %}<li>{{ eval.improvement }}</li>{% endif %}
                    </ul>
                {% endfor %}
                <h4>{% trans "Other" %}</h4>
                {% for eval in evaluations %}
                    <ul>
                    {% if eval.other %}<li>{{ eval.other }}</li>{% endif %}
                    </ul>
                {% endfor %}
                <h4>{% trans "Evaluation forms" %}</h4>
                {% for eval in evaluations %}
                    <ul>
                        <a href="{% url "itdagene.feedback.evalutions.handle_evaluation" eval.hash %}">{{ eval.company }}</a>
                    </ul>
                {% endfor %}

            </div>
         </div>
    </div>
    </div>

{% endblock %}
