{% extends base_template %}
{% load i18n %}

{% block content %}
    <h1>Tilbakemelding for itDAGENE {{ preferences.year }}</h1>
    <h3>{{ evaluations.count }} bedrifter har svart på tilbakemelding, {{ percentage_want_to_come_back }}% vil tilbake.</h3>

    <h2>Gjennomsnittlig vurderinger:</h2>
    <ul>
        <li><strong>Sommerjobbmaraton:</strong> {{ avg_internship_marathon_rating }}/5</li>
        <li><strong>Kurs:</strong> {{ avg_course_rating }}/5</li>
        <li><strong>Besøkende:</strong> {{ avg_visitors_rating }}/5</li>
        <li><strong>Intervjurom:</strong> {{ avg_interview_location_rating }}/5</li>
        <li><strong>Bankett:</strong> {{ avg_banquet_rating }}/5</li>
    </ul>
    <h2>Forbedringsmuligheter</h2>
    <h4>Sommerjobbmaraton</h4>
    {% for eval in evaluations %}
        {% if eval.internship_marathon_improvement %}<p>{{ eval.internship_marathon_improvement }}</p>{% endif %}
    {% endfor %}
    <h4>Kurs</h4>
    {% for eval in evaluations %}
        {% if eval.course_improvement %}<p>{{ eval.course_improvement }}</p>{% endif %}
    {% endfor %}
    <h4>Intervjurom</h4>
    {% for eval in evaluations %}
        {% if eval.interview_location_improvement %}<p>{{ eval.interview_location_improvement }}</p>{% endif %}
    {% endfor %}
    <h4>Bankett</h4>
    {% for eval in evaluations %}
        {% if eval.banquet_improvement %}<p>{{ eval.banquet_improvement }}</p>{% endif %}
    {% endfor %}
    <h4>Åpningstider</h4>
    {% for eval in evaluations %}
        {% if eval.opening_hours %}<p>{{ eval.opening_hours }}</p>{% endif %}
    {% endfor %}
    <h4>Generell forbedring</h4>
    {% for eval in evaluations %}
        {% if eval.improvement %}<p>{{ eval.improvement }}</p>{% endif %}
    {% endfor %}
    <h4>Andre ting</h4>
    {% for eval in evaluations %}
        {% if eval.other %}<p>{{ eval.other }}</p>{% endif %}
    {% endfor %}
{% endblock %}