{% extends base_template %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Joblistings" %}</h1>
    <table class="table table-striped table-hover" cellspacing="0" class="list">
        <tr class="active"><th>{% trans "Company" %}</th><th>{% trans "Title" %}</th><th>{% trans "Type" %}</th><th>{% trans "Created" %}</th><th>{% trans "Creator" %}</th></tr>
        {% for joblisting in joblistings %}
            <tr>
                <td>{{ joblisting.company }}</td>
                <td><a href="{% url app.career.views.joblistings.view_joblisting joblisting.pk %}">{{ joblisting }}</a></td>
                <td>{{ joblisting.get_type_display }}</td>
                <td>{{ joblisting.date_created|date }}</td>
                <td>{{ joblisting.creator }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
