{% extends base_template %}
{% load i18n %}
{% block include %}
    <script type="text/javascript" src="/static/js/joblistings.js"></script>
{% endblock %}

{% block content %}
    <h1>{% trans "Joblistings" %}</h1>
    <div class="filters">
        <strong>{% trans "Type" %}: </strong><input type="radio" name="type" value="si" />{% trans "Summer internship" %}
        <input type="radio" name="type" value="pp" />{% trans "Permanent position" %}
        <input type="radio" name="type" value="all" checked />{% trans "All" %}
        <strong>{% trans "Place" %}:</strong> <select name="place">
            <option value="all">---</option>
            {% for t in towns %}
            <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
        </select>
    </div>
    <table cellspacing="0" class="list joblistings">
{#        <tr>#}
{#            <th>{% trans "Company" %}</th>#}
{#            <th>{% trans "Title" %}</th>#}
{#            <th>{% trans "Type" %}</th>#}
{#        </tr>#}
        {% for joblisting in joblistings %}
            <tr {% if joblisting.has_deadline_passed %}style="opacity: 0.6;"{% endif %} data-job-type="{{ joblisting.type }}" data-job-place="{% for p in joblisting.towns.all %}{{ p }}{% endfor %}">
                <td>{{ joblisting.company }}</td>
                <td>
                    <a href="{% url "app.career.views.joblistings.view_joblisting" joblisting.pk %}">{{ joblisting }}</a><br/>
                    <span><strong>{% trans "Type" %}:</strong> {{ joblisting.get_type_display }}<br/>
                    <strong>{% trans "Deadline" %}:</strong> {% if joblisting.deadline %}{{ joblisting.deadline }}{% else %}{% trans "No deadline" %}{% endif %}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
