{% extends "base_public_not_frontpage.html" %}
{% load i18n %}
{% block include %}
    <script type="text/javascript" src="{{ STATIC_URL }}career/js/joblistings.js"></script>
{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "Joblistings" %}</h1>
    <div class="filters text-center well well-sm">
        <div class="row">
            <div class="col-md-6">
                <strong>{% trans "Type" %}: </strong>
                <input type="radio" name="type" value="si" /> {% trans "Summer internship" %}
                <input type="radio" name="type" value="pp" /> {% trans "Permanent position" %}
                <input type="radio" name="type" value="all" checked /> {% trans "All" %}
            </div>
            <div class="col-md-6">
                <strong>{% trans "Place" %}:</strong>
                <select name="place">
                    <option value="all">---</option>
                    {% for t in towns %}
                        <option value="{{ t }}">{{ t }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <table cellspacing="0" class="table table-hover" id="joblistingstable">
        <thead>
        <tr class="active">
            <th>{% trans "Company" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Deadline" %}</th>
        </tr>
        </thead>
        {% for joblisting in joblistings %}
            <tr {% if joblisting.has_deadline_passed %}style="opacity: 0.6;"{% endif %} data-job-type="{{ joblisting.type }}" data-job-place="{% for p in joblisting.towns.all %}{{ p }}{% endfor %}">
                <td>{{ joblisting.company. }}<h3>{{ joblisting.company }}</h3></td>
                <td class="vert-align">
                    <a href="{% url "app.career.views.joblistings.view_joblisting" joblisting.pk %}">{{ joblisting }}</a><br/>
                </td>
                <td class="vert-align">
                    {{ joblisting.get_type_display }}<br/>
                </td>
                <td class="vert-align">
                    {% if joblisting.deadline %}{{ joblisting.deadline }}{% else %}{% trans "No deadline" %}{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
