{% extends base_template %}
{% load markup %}
{% load i18n %}
{% block content %}
    {% if joblisting.image %}<img src="{{ joblisting.image.url }}" alt="{{ joblistings }}">{% endif %}
    <h1>{{ joblisting.title }} -  {{ joblisting.company }}</h1>
    <div class="company-description">{% if joblisting.company.logo %}<img src="{{ joblisting.company.logo.url }}"> {% endif %}{{ joblisting.company.description }}</div>
    <div class="meta">
        {% if joblisting.deadline %}<strong>{% trans "Deadline" %}:</strong> {{ joblisting.deadline }},{% endif %}
        {% if joblisting.town %} <strong>{% trans "Town" %}:</strong> {% for town in joblisting.town.all %}{{ town }},{% endfor %}{% endif %}
         <strong>{% trans "Wants" %}:</strong> {% if joblisting.from_year == joblisting.to_year %}5. klasse{% else %}{{ joblisting.from_year }}.-{{ joblisting.to_year }}. klasse{% endif %}
        {% if joblisting.url %} <a href="{{ joblisting.url }}">Link til søknad</a>{% endif %}
    </div>
    <div class="job-description">{{ joblisting.description|markdown }}</div>
{% endblock %}
