{% load i18n %}

<ul class="treeview-menu">
    {% if perms.mail.mail_access %}
        {% if perms.mail.change_mailmapping %}
            <li><a href="{% url "app.mail.views.list_mailmapping" %}">{% trans "Mappings" %}</a></li>
        {% endif %}
        {% if perms.mail.add_mailmapping %}
            <li><a href="{% url "app.mail.views.add_mailmapping" %}">{% trans "Add Mail Mapping" %}</a></li>
        {% endif %}
        {% if mapping.pk %}
            {% if perms.mail.change_mailmapping %}
                <li><a href="{% url "app.mail.views.change_mailmapping" mapping.pk %}">{% trans "Change Mail Mapping" %}</a></li>
            {% endif %}
        {% endif %}
    {% endif %}
</ul>