{% extends "base_admin.html" %}

{% load i18n %}

{% block content %}
    <div class="row">
    <div class="col-lg-9">
        <dl class="dl-horizontal">
            <dt>{% trans "Prefix" %}</dt>
            <dd>{{ mapping.address }}</dd>
            <dt>{% trans "Recived Emails" %}</dt>
            <dd>{{ mapping.recived_emails }}</dd>
        </dl>
    </div>
    <div class="col-lg-3">
        <h3>{% trans "Members" %}</h3>
        <ul>
        {% for user in mapping.all_users %}
            <li><a href="{% url "app.users.views.user_detail" user.pk %}">{{ user.get_full_name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}
