{% extends "company/base.html" %}
{% load i18n %}
{% load filters %}

{% block content %}
<div class="textbox half left">
    <h2>{% trans "Solo competition" %}</h2>
    <div class="textbox_content">
        <table cellspacing="0" style="width:100%;">
            <tr>
                <th>{% trans "Who" %}</th>
                <th>{% trans "Number of contracts" %}</th>
            </tr>
            {% for user in users %}
            <tr>
                <!--td>{{ forloop.counter }}</td-->
                <td>{{ user.first_name}} {{ user.last_name }}</td>
                <td>{{ user.num_contracts }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="textbox half right">
    <h2>{% trans "Team competition" %}</h2>
    <div class="textbox_content">
        <table cellspacing="0" style="width:100%;">
            <tr>
                <th>{% trans "Who" %}</th>
                <th>{% trans "Number of contracts" %}</th>
            </tr>
            {% for team in teams %}
            <tr>
                <!--td>{{ forloop.counter }}</td-->
                <td>{{ team.1 }}</td>
                <td>{{ team.0 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
