{% extends "base_admin.html" %}

{% load i18n %}
{% block content %}

    <div class="row">
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{% trans "Stands" %}</h3>
            </div>
            <div class="box-body no-padding">

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{% trans "Your stands" %}</h3>
            </div>
            <div class="box-body no-padding">

            </div>
        </div>
    </div>
    </div>

{% endblock %}
