{% extends "venue/base.html" %}

{% load map %}
{% load i18n %}
{% block include %}{% load_openlayers %}{% endblock %}
{% block content %}
    <h1>{% trans "Stands you are responsible for" %}</h1>
    <ul class="small-list left">
        {% for stand in stands %}
            <li>
                <h4>{{ stand }}</h4>
                {% if stand.company_day1.contact == request.user %}{% trans "Day 1" %}: <a href="{% url "itdagene.app.company.views.view" stand.company_day1.pk %}">{{ stand.company_day1 }}</a><br/>{% endif %}
                {% if stand.company_day2.contact == request.user %}{% trans "Day 2" %}: <a href="{% url "itdagene.app.company.views.view" stand.company_day2.pk %}">{{ stand.company_day2 }}</a><br/>{% endif %}
            </li>
        {% endfor %}
    </ul>
    {% general_map stands %}
{% endblock %}
