{% extends "base_admin.html" %}

{% load i18n staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {% for year in year_list %}
                        <li {% if year == year_list|first %} class="active" {% endif %}><a href="#{{ year }}-pane" data-toggle="tab">{{ year }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content no-padding">
                    {% for year, meetings in meeting_lists %}
                        <div class="tab-pane {% if year == year_list|first %}active{% endif %}" id="{{ year }}-pane">

                            <table class="table table-striped table-hover tablesorter" id="myTable">
                                <thead>
                                <tr>
                                    <th>{% trans "Type" %}</th>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Starts" %}</th>
                                    <th>{% trans "Ends" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for meeting in meetings %}
                                    <tr>
                                        <td><a href="{% url "itdagene.meetings.meeting" meeting.pk %}">{{ meeting.get_type_display }}</a></td>
                                        <td> {{ meeting.date }}</td>
                                        <td> {{ meeting.start_time }}</td>
                                        <td>{{ meeting.end_time }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            {% if penalty_lists %}
                <div class="card card-outline card-danger">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-beer"></i> {% trans "Penalties" %}</h3>
                    </div>
                    <div class="card-body">
                        {% for penalties in penalty_lists %}
                            <table class="table tablesorter" id="myTable2">
                            <tr>
                                <td colspan="2" class="text-center"><strong>{{ penalties.year }}</strong></td>
                            </tr>
                            <tr>
                                <td><strong>{% trans "Bottles of beer" %}</strong></td>
                                <td><strong>{{ penalties.beer }}</strong></td>
                            </tr>
                            {% if penalties.year == preferences.year %}
                                {% for user in penalties.beer_list_users %}
                                    <tr>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.number }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <td><strong>{% trans "Bottles of wine" %}</strong></td>
                                <td><strong>{{ penalties.wine }}</strong></td>
                            </tr>
                            {% if penalties.year == preferences.year %}
                                {% for user in penalties.wine_list_users %}
                                    <tr>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.number }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </table>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block inline-scripts %}
    <script src="{% static "lib/tablesorter/dist/js/jquery.tablesorter.combined.min.js" %}"></script>
    <script>
        $(document).ready(function()
                {
                    $("#myTable").tablesorter({textExtraction: 'complex'});
                    $("#myTable2").tablesorter({textExtraction: 'complex'});
                }
        );
    </script>
{% endblock %}
