{% load i18n %}

<ul class="treeview-menu">
    <li><a href="{% url "meetings" %}"><i class="fa fa-circle-o"></i> {% trans "Meetings" %}</a> </li>
    {% if perms.meetings.add_meeting %}
        <li><a href="{% url "itdagene.app.meetings.views.add" %}"><i class="fa fa-circle-o"></i> {% trans "Add Meeting" %}</a></li>
    {% endif %}
    {% if perms.meetings.change_meeting %}
    {% if meeting.pk %}
        <li><a href="{% url "itdagene.app.meetings.views.edit" meeting.pk %}"><i class="fa fa-circle-o"></i> {% trans "Edit Meeting" %}</a></li>
        <li><a href="{% url "itdagene.app.meetings.views.add_penalties" meeting.pk %}"><i class="fa fa-circle-o"></i> {% trans "Add Penalties" %}</a></li>
        <li><a href="{% url "itdagene.app.meetings.views.send_invites" meeting.pk %}"><i class="fa fa-circle-o"></i> {% trans "Send Invites" %}</a></li>
    {% endif %}
    {% endif %}
</ul>
