{% load i18n %}

<ul class="treeview-menu">
    <li><a href="{% url "itdagene.meetings.list" %}"><i class="far fa-circle"></i> {% trans "Meetings" %}</a> </li>
    {% if perms.meetings.add_meeting %}
        <li><a href="{% url "itdagene.meetings.add" %}"><i class="far fa-circle"></i> {% trans "Add Meeting" %}</a></li>
    {% endif %}
    {% if perms.meetings.change_meeting %}
    {% if meeting.pk %}
        <li><a href="{% url "itdagene.meetings.edit" meeting.pk %}"><i class="far fa-circle"></i> {% trans "Edit Meeting" %}</a></li>
        <li><a href="{% url "itdagene.meetings.add_penalties" meeting.pk %}"><i class="far fa-circle"></i> {% trans "Add Penalties" %}</a></li>
        <li><a href="{% url "itdagene.meetings.send_invites" meeting.pk %}"><i class="far fa-circle"></i> {% trans "Send Invites" %}</a></li>
    {% endif %}
    {% endif %}
</ul>
