{% extends "meetings/base.html" %}
{% load i18n %}
{% load markdown_tool %}
{% load comments %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>{% trans "Meeting" %}: {{ meeting.date }}</h1>
            <em>{{ meeting.start_time }} - {{ meeting.end_time }} @{{ meeting.location }} - {% trans "Referee" %}: {{ meeting.referee.profile }}</em>
            {% if reply and reply.is_attending == None %}
                <div class="info">
                    <h3>{% trans "You haven't replied to this invite" %}</h3>
                    {% trans "I am" %}
                    <a href="{% url "app.meetings.views.attend" meeting.pk %}" class="button">{% trans "attending" %}</a>
                    <a href="{% url "app.meetings.views.not_attend" meeting.pk %}" class="button">{% trans "not attending" %}</a>
                </div>
            {% endif %}
            <div class="abstract">
                {{ meeting.abstract|markdownize }}
            </div>
        </div>
        <div class="col-md-3">
            <h3>{% trans "Attending" %}</h3>
            <ul>
                {% for attendor in meeting.attending %}
                    <li>{{ attendor.user.profile }}</li>
                {% endfor %}
            </ul>
            <h3>{% trans "Not attending" %}</h3>
            <ul>
                {% for attendor in meeting.not_attending %}
                    <li>{{ attendor.user.profile }}</li>
                {% endfor %}
            </ul>
            <h3>{% trans "Awaiting reply" %}</h3>
            <ul>
                {% for attendor in meeting.awaiting_reply %}
                    <li>{{ attendor.user.profile }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% load_comments_form meeting %}
    {% load_comments meeting %}

{% endblock %}