{% extends "base_admin.html" %}
{% load i18n %}
{% load markdown_tool %}
{% load comments %}
{% block content %}

    <div class="row">
        <div class="col-md-7">

            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Agenda" %}</h3>
                </div>
                <div class="card-body">
                    {{ meeting.agenda|markdownize }}
                </div>
            </div>

            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Abstract" %}</h3>
                </div>
                <div class="card-body">
                    {{ meeting.abstract|markdownize }}
                </div>
            </div>
        </div>

        <div class="col-md-2">

            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Meeting Information" %}</h3>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>{% trans "Date" %}</dt>
                        <dd>{{ meeting.date }}</dd>
                        <dt>{% trans "Time" %}</dt>
                        {% if meeting.end_time %}
                            <dd>{{ meeting.start_time }} - {{ meeting.end_time }}</dd>
                        {% else %}
                            <dd>{{ meeting.start_time }}</dd>
                        {% endif %}
                        <dt>{% trans "Location" %}</dt>
                        <dd>{{ meeting.location }}</dd>
                        {% if meeting.referee %}
                            <dt>{% trans "Referee" %}</dt>
                            <dd>{{ meeting.referee }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>

        </div>

        <div class="col-md-3">

            {% if reply %}
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% trans "Participation" %}</h3>
                    </div>
                    <div class="card-body">
                        {% if reply.is_attending == None %}
                           <p><strong>{% trans "You haven't replied to this invite" %}</strong></p>
                        {% endif %}

                        <p>{% trans "I am" %}</p>
                        <div class="btn-group">
                            <a href="{% url "itdagene.meetings.attend" meeting.pk %}" class="btn btn-success btn-sm {% if reply.is_attending == True %}active{% endif %}">{% trans "attending" %}</a>
                            <a href="{% url "itdagene.meetings.not_attend" meeting.pk %}" class="btn btn-danger btn-sm {% if reply.is_attending == False %}active{% endif %}">{% trans "not attending" %}</a>
                        </div>
                    </div>
                </div>

            {% endif %}


            <div class="card card-outline card-success">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Attending" %}</h3>
                </div>
                <div class="card-body no-padding">
                    <table class="table table-hover">
                        {% for attendor in meeting.attending %}
                            <tr>
                                <td><a href="{{ attendor.user.get_absolute_url }}">{{ attendor.user }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="card card-outline card-danger">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Not attending" %}</h3>
                </div>
                <div class="card-body no-padding">
                    <table class="table table-hover">
                        {% for attendor in meeting.not_attending %}
                            <tr>
                                <td><a href="{{ attendor.user.get_absolute_url }}">{{ attendor.user }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="card card-outline card-warning">
                <div class="card-header">
                    <h3 class="card-title">{% trans "Awating reply" %}</h3>
                </div>
                <div class="card-body no-padding">
                    <table class="table table-hover">
                        {% for attendor in meeting.awaiting_reply %}
                            <tr>
                                <td><a href="{{ attendor.user.get_absolute_url }}">{{ attendor.user }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
    <div class="col-lg-12">

        {% load_comments meeting %}

    </div>
    </div>
{% endblock %}
