{% extends "adm/base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Group administration" %}</h1>
    {% include "form.html" %}
    <h2>{% trans "Permissions" %}</h2>
    <table cellspacing="0" class="list permissions">
    <tr>
        <th>{% trans "Model" %}</th>
        <th>{% trans "Create" %}</th>
        <th>{% trans "Edit" %}</th>
        <th>{% trans "View" %}</th>
        <th>{% trans "Delete" %}</th>
    </tr>
    {% for form in formset %}
        {% if form.instance.pk %}
        <tr data-id="{{ form.instance.pk }}">
            <td>{{ form.instance.app_label }}: {{ form.instance.name }}</td>
            <td>{{ form.create }} <img src="/static/img/ajax_loader.gif" class="hidden" /></td>
            <td>{{ form.edit }} <img src="/static/img/ajax_loader.gif" class="hidden" /></td>
            <td>{{ form.view }} <img src="/static/img/ajax_loader.gif" class="hidden" /></td>
            <td>{{ form.delete }} <img src="/static/img/ajax_loader.gif" class="hidden" /></td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}
