{% load i18n widget_tweaks %}

{% block include %}
    <script>$(function(){ $("#id_timestamp").datepicker({dateFormat: 'yy-mm-dd'}); });</script>
{% endblock %}

<div class="modal fade" id="contract-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Legg til en kontrakt</h4>
            </div>
            <form method="post" action="{% url add_contract company.pk %}">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.content.errors }}
                    {% for field in form %}
                        <div class="form-group">
                            {% if not field.is_hidden %}
                                {% render_field field.label_tag %}
                                {{ field.errors }}
                            {% endif %}
                            {% render_field field class="form-control" %}
                            {% if not field.is_hidden %}
                                {{ field.help_text }}<br/>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                    <button type="submit" class="btn btn-primary">{% if form.instance.id %}{% trans "Save" %}{% else %}{% trans "Add" %}{% endif %}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
