{% extends "base_admin.html" %}
{% load i18n metabase thumbnail markdown_tool staticfiles crispy_forms_tags %}

{% block scripts %}
{% endblock %}

{% block content %}


    {% if user.is_staff %}
    <div class="row">
        <div class="col-lg-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-comments"></i> Status </h3>
                </div>
                <iframe
                    src="{% metabase "1" "#bordered=false&titled=false" %}"
                    frameborder="0"
                    width="100%"
                    height="900px"
                    allowtransparency
                    ></iframe>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-comments"></i> {% trans "Company Comments" %}</h3>
                </div>
                <div class="box-body chat" id="chat-box">
                {% for comment in company_comments %}

                <div class="item">

                    {% if comment.user.photo %}
                        {% thumbnail comment.user.photo "50x50" crop="center" as im %}
                            <img src="{{ im.url }}" class="img-circle">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static "img/user_blank.png" %}" class="img-circle" />
                    {% endif %}

                    <p class="message">
                        <a href="{{ comment.user.get_absolute_url }}" class="name">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{ comment.date|timesince }} {% trans "ago" %}</small>
                            {{ comment.user }}
                        </a>
                        <b><a href="{{ comment.object.get_absolute_url }}">{{ comment.object }}</a></b><br/>
                        {{ comment.comment }}
                    </p>
                </div>

                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

