{% extends "base_admin.html" %}
{% load i18n core humanize staticfiles %}
{% block content %}

    <div class="row">
    <div class="col-md-6">
        {% for day in days %}
            {% with day_dict=day %}
            <div class="card card-outline card-success">
            <div class="card-header">
                <h3 class="card-title">{% trans "Day" %} {% with day_number=day_dict|lookup:"number" %}{{ day_number|apnumber }}{% endwith %}</h3>
            </div>
            <div class="card-body no-padding">
                <table class="table table-hover tablesorter dayTable">
                    <thead>
                        <tr>
                            <th>{% trans "Task" %}</th>
                            <th>{% trans "Start" %}</th>
                            <th>{% trans "End" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Participants" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% with workschedules=day_dict|lookup:"list" %}
                    {% for task in workschedules %}
                        <tr>
                        <td><a href="{% url "itdagene.workschedule.view_task" task.pk %}">{{ task.title }}</a></td>
                        <td>{{ task.start_time }}</td>
                        <td>{{ task.end_time }}</td>
                        <td>{{ task.date }}</td>
                        <td>{{ task.workers_in_schedule.count }}</td>
                        </tr>
                    {% endfor %}
                    {% endwith %}
                    </tbody>
                </table>
            </div>
            </div>
            {% endwith %}
        {% endfor %}
    </div>
    <div class="col-md-6">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">{% trans "Other Days" %}</h3>
            </div>
            <div class="card-body no-padding">
                <table class="table table-hover tablesorter dayTable">
                    <thead>
                        <tr>
                            <th>{% trans "Task" %}</th>
                            <th>{% trans "Start" %}</th>
                            <th>{% trans "End" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Participants" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for task in other %}
                        <tr>
                        <td><a href="{% url "itdagene.workschedule.view_task" task.pk %}">{{ task.title }}</a></td>
                        <td>{{ task.start_time }}</td>
                        <td>{{ task.end_time }}</td>
                        <td>{{ task.date }}</td>
                        <td>{{ task.workers_in_schedule.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">{% trans "Workers" %}</h3>
            </div>
            <div class="card-body no-padding">
                <table class="table table-hover tablesorter dayTable">
                    <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Phone" %}</th>
                            <th>{% trans "Mail" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for worker in workers %}
                        <tr>
                        <td><a href="{% url "itdagene.workschedule.view_worker" worker.pk %}">{{ worker.name }}</a></td>
                        <td>{{ worker.phone }}</td>
                        <td><a href="mailto:{{ worker.email }}">{{ worker.email }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
{% block inline-scripts %}
    <script src="{% static "lib/tablesorter/dist/js/jquery.tablesorter.combined.min.js" %}"></script>
    <script>
        $(document).ready(function()
                {
                    $(".dayTable").tablesorter({textExtraction: 'complex'});
                }
        );
    </script>
{% endblock %}
