{% extends base_template %}
{% load i18n %}
{% block content %}

    <h1>{% trans "Day One" %}</h1>

    {% for task in dayOne %}
        <strong><a href="{% url app.workschedule.views.view_public_task task.pk %}">{{ task.title }}</a></strong><br>
        <strong>{% trans "Start" %}: </strong>{{ task.start_time }}
        <strong>{% trans "End" %}: </strong>{{ task.end_time }}
        <strong>{% trans "Date" %}: </strong>{{ task.date }}<br>
        <strong>{% trans "Participants" %}:</strong>
        {% for worker in task.workers %}{{ worker }}, {% endfor %}
        <br>
        <br>
    {% endfor %}
    <br>

    <h1>{% trans "Day Two" %}</h1>
    {% for task in dayTwo %}
        <strong><a href="{% url app.workschedule.views.view_public_task task.pk %}">{{ task.title }}</a></strong><br>
        <strong>{% trans "Start" %}: </strong>{{ task.start_time }}
        <strong>{% trans "End" %}: </strong>{{ task.end_time }}
        <strong>{% trans "Date" %}: </strong>{{ task.date }}<br>
        <strong>{% trans "Participants" %}:</strong>
        {% for worker in task.workers %}{{ worker }}, {% endfor %}
        <br>
        <br>
    {% endfor %}
    <br>

    <h1>{% trans "Else" %}</h1>
    {% for task in other %}
        <strong><a href="{% url app.workschedule.views.view_public_task task.pk %}">{{ task.title }}</a></strong><br>
        <strong>{% trans "Start" %}: </strong>{{ task.start_time }}
        <strong>{% trans "End" %}: </strong>{{ task.end_time }}
        <strong>{% trans "Date" %}: </strong>{{ task.date }}<br>
        <strong>{% trans "Participants" %}:</strong>
        {% for worker in task.workers %}{{ worker }}, {% endfor %}
        <br>
        <br>
    {% endfor %}
    <br>

{% endblock %}