{% extends base_template %}
{% load i18n %}
{% block content %}

    <h1>{% trans "Day One" %}</h1>

    <table cellspacing="0" class="list joblistings">
        <tr>
            <th>{% trans "Task" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th>{% trans "Participant" %}</th>
        </tr>
        {% for task in dayOne %}
        <tr>
            <td><a href="{% url app.workschedule.views.view_public_task task.pk %}">{{ task.title }}</a></td>
            <td>{{ task.start_time }}</td>
            <td>{{ task.end_time }}</td>
            <td>{{ task.date }}</td>
            <td>{% for worker in task.workers %}{{ worker }}, {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>{% trans "Day Two" %}</h1>
    <table cellspacing="0" class="list joblistings">
        <tr>
            <th>{% trans "Task" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th>{% trans "Participant" %}</th>
        </tr>
        {% for task in dayTwo %}
        <tr>
            <td><a href="{% url app.workschedule.views.view_public_task task.pk %}">{{ task.title }}</a></td>
            <td>{{ task.start_time }}</td>
            <td>{{ task.end_time }}</td>
            <td>{{ task.date }}</td>
            <td>{% for worker in task.workers %}{{ worker }}, {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>{% trans "Else" %}</h1>
    <table cellspacing="0" class="list joblistings">
        <tr>
            <th>{% trans "Task" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th>{% trans "Participant" %}</th>
        </tr>
        {% for task in other %}
        <tr>
            <td><a href="{% url app.workschedule.views.view_public_task task.pk %}">{{ task.title }}</a></td>
            <td>{{ task.start_time }}</td>
            <td>{{ task.end_time }}</td>
            <td>{{ task.date }}</td>
            <td>{% for worker in task.workers %}{{ worker }}, {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

