{% extends base_template %}
{% load i18n %}
{% block content %}

    <h1>{{ task.title }}</h1>

    <strong>{% trans "Start" %}:</strong> {{ task.start_time }}
    <strong>{% trans "End" %}:</strong> {{ task.end_time }}
    <strong>{% trans "Date" %}:</strong> {{ task.date }}

    <h1>{% trans "Description" %}</h1>
    <p>{{ task.description }}</p>

    <h2>{% trans "Workers" %}</h2>
    <table cellspacing="0">
        <tr>
            <th>{% trans "Workers" %}</th>
        </tr>
        {% for worker in task.workers %}
        <tr>
            <td>{{ worker }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}