{% extends base_template %}
{% load i18n %}
{% block content %}

    <h1>{{ task.title }}</h1>

    <table cellspacing="0">
        <tr>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th>{% trans "Date" %}</th>
        </tr>
        <tr>
            <td>{{ task.start_time }}</td>
            <td>{{ task.end_time }}</td>
            <td>{{ task.date }}</td>
        </tr>
    </table>

    <h1>{% trans "Description" %}</h1>
    <p>{{ task.description }}</p>

    <h2>{% trans "Workers" %}</h2>
    <table cellspacing="0">
        <tr>
            <th>{% trans "Workers" %}</th>
            <th>{% trans "Has met" %}</th>
        </tr>
        {% for item in attendance %}
        <tr>
            <td><a href="{% url app.workschedule.views.view_worker item.worker.pk %}">{{ item.worker }}</a></td>
            <td>
                {% if item.has_met %}{% trans "Yes" %}{% endif %}
                {% if not item.has_met %}{% trans "No" %}{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url app.workschedule.views.has_met task.pk %}" class="button">{% trans "Sign attendence" %}</a>
    <a href="{% url app.workschedule.views.edit_task task.pk %}" class="button">{% trans "Edit" %}</a>

{% endblock %}