{% extends "base_public_not_frontpage.html" %}
{% load i18n %}
{% block include %}
    <script src="{{ STATIC_URL }}lib/lightbox2/js/lightbox.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}events/css/program.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/lightbox2/css/lightbox.css"/>
{% endblock %}
{% block content %}
    <h1 class="text-center">{% trans "Program" %}</h1>
    <h2 class="text-center">Under planlegging</h2>
    {% comment %}<div class="row">
        <div class="col-md-6">
            <h2 class="text-center">{{ day_one_date|date:"l" }} {{ day_one_date|date:"d" }}. {{ day_one_date|date:"F" }}</h2>
            {% for event in day_one %}
                <div class="well well-sm text-center">
                    <h4>{{ event.get_type_display }}: {{ event }}</h4>
                    {% if event.company %}<strong>Hvem: {{ event.company }}</strong>{% endif %}<br>
                    <strong>Hvor: </strong>{{ event.location }}<br>
                    <em>{{ event.time_start|time }} - {{ event.time_end|time }}</em>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h2 class="text-center">{{ day_two_date|date:"l" }} {{ day_two_date|date:"d" }}. {{ day_two_date|date:"F" }}</h2>
            <ul class="unstyled">
                {% for event in day_two %}
                    <li>
                        <h3>{{ event }}</h3>
                        {% if event.company %}<strong>Hvem: {{ event.company }}</strong><br>{% endif %}
                        <strong>{{ event.location }}: </strong><em>{{ event.time_start|time }} - {{ event.time_end|time }}</em>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <h1 class="text-center">{% trans "Standmap" %}</h1>
    <div class="row">
        <div class="col-md-6">
            <a href="/static/img/standkart-onsdag.png" data-lightbox="standkart-onsdag" data-title="Standkart onsdag">
                <img class="img-responsive img-thumbnail" src="/static/img/standkart-onsdag.png" alt="Standkart onsdag">
            </a>
        </div>
        <div class="col-md-6">
            <a href="/static/img/standkart-torsdag.png" data-lightbox="standkart-torsdag" data-title="Standkart torsdag">
                <img class="img-responsive img-thumbnail" src="/static/img/standkart-torsdag.png"alt="Standkart torsdag">
            </a>
        </div>
    </div>{% endcomment %}
{% endblock %}