{% extends "base_admin.html" %}
{% load i18n core crispy_forms_filters markdown_tool %}

{% block content %}
    <div class="row">
        <div class="col-lg-{% if event.uses_tickets %}3{% else %}12{% endif %}">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-info-circle"></i> {% trans "General" %}</h3>
                </div>
                <div class="box-body">
                    <dl>
                        <dt>{% trans "Time" %}</dt>
                        <dd>{{ event.date|date }}: {{ event.time_start }} - {{ event.time_end }}</dd>
                        <dt>{% trans "Type" %}</dt>
                        <dd>{{ event.get_type_display }}</dd>
                        <dt>{% trans "Location" %}</dt>
                        <dd>{{ event.location }}</dd>
                    </dl>
                </div>
                <div class="box-footer">
                    {{ event.description|markdownize }}
                </div>
            </div>
        </div>
        {% if event.uses_tickets %}
        <div class="col-lg-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-ticket"></i> {% trans "Tickets" %}</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Company" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ticket in event.tickets.all %}
                            <tr>
                                <td>{{ ticket.full_name }}</td>
                                <td>{{ ticket.company }}</td>
                                <td><a href="{% url "itdagene.app.events.views.edit_ticket" ticket.pk %}"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-ticket"></i> {% trans "Add Ticket" %}</h3>
                </div>
                <div class="box-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal col-md-12">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <p>
                                <button type="submit" class="form-control btn btn-primary">{% if form.instance.id %}{% trans "Save" %}{% else %}{% trans "Add" %}{% endif %}</button>
                            </p>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}
