{% load i18n %}

<ul class="treeview-menu">
    {% if request.user.is_staff %}
        <li><a href="{% url "itdagene.app.feedback.views.issues.list" %}">{% trans "Issues" %}</a></li>
        <li><a href="{% url "itdagene.app.feedback.views.issues.solved_list" %}">{% trans "Solved Issues" %}</a></li>
    {% endif %}
    {% if perms.feedback.add_issue %}
        <li><a href="{% url "itdagene.app.feedback.views.issues.my_issues" %}">{% trans "My issues" %}</a></li>
        <li><a href="{% url "itdagene.app.feedback.views.issues.add" %}">{% trans "Add issue" %}</a></li>
    {% endif %}
    {% if issue.pk %}
        {% if perms.feedback.change_issue %}
            <li><a href="{% url "itdagene.app.feedback.views.issues.edit" issue.pk %}">{% trans "Edit issue" %}</a></li>
            <li><a href="{% url "itdagene.app.feedback.views.issues.solved" issue.pk %}">{% trans "Mark issue as solved" %}</a></li>
        {% endif %}
    {% endif %}

    {% if request.user.is_staff %}
        <li><a href="{% url "itdagene.app.feedback.views.evalutions.report" %}">{% trans "Company evalutions" %}</a></li>
    {% endif %}

</ul>