{% load menu %}
{% load i18n %}
<ul>
    {% for item in menu %}
        {% if item.visible %}
            <li {% active request item.url %}><a href="{{ item.url }}"><img
                    src="/static/images/icons/{{ item.icon }}.png" alt=""/> {{ item.title }}</a>
                {% if item.children %}{% include item.children %}{% endif %}
            </li>
        {% endif %}

    {% endfor %}
    {#<li><a href="/accounts/logout/"><img src="/static/images/icons/logout.png" alt=""/> {% trans "Log out" %}</a></li>#}
</ul>