{% load i18n %}

<ul class="treeview-menu">
    {% if user.is_staff %}
        <li><a href="{% url "itdagene.news.admin" %}"><i class="fa fa-circle-o"></i> {% trans "Announcements" %}</a></li>
    {% endif %}

    {% if perms.news.add_announcement %}
        <li><a href="{% url "itdagene.news.create_announcement" %}"><i class="fa fa-circle-o"></i> {% trans "Add Announcement" %}</a></li>
    {% endif %}

    {% if announcement %}
        {% if perms.news.change_announcement %}
            <li><a href="{% url "itdagene.news.edit_announcement" announcement.id %}"><i class="fa fa-circle-o"></i> {% trans "Edit Announcement" %}</a></li>
        {% endif %}
        <li><a href="{% url "itdagene.news.view_announcement" announcement.id %}"><i class="fa fa-circle-o"></i> {% trans "View Announcement" %}</a></li>
    {% endif %}

</ul>

