{% extends "base_admin.html" %}
{% load i18n %}

{% block content %}
<div class="row">
<div class="col-lg-12">
    <div class="card card-outline card-danger card-solid">
        <div class="card-header">
            <h3 class="card-title">{% trans "Faresone" %}</h3>
        </div>
        <div class="card-body">
          <form method="post" onsubmit="return confirm('{% trans "Er du sikker?" %}')" action="{% url "itdagene.itdageneadmin.companies_reset" %}">
                {% csrf_token %}
                <p>{% blocktrans %}Er du sikker på at du vil nullstille bedriftsdataene?
                  Dette fjerner alle årsspesifikke felt for alle bedrifter, inkludert:{% endblocktrans %}</p>
                <ul>
                  <li>{% trans "Bedriftsstatus" %}</li>
                  <li>{% trans "Kontaktperson i itDAGENE" %}</li>
                  <li>{% trans "Valgt pakke" %}</li>
                  <li>{% trans "Ventelister" %}</li>
                  <li>{% trans "Samarbeidspartnerstatus" %}</li>
                </ul>
                <p><button type="submit" class="btn btn-danger">{% trans "Nullstill bedriftsdata" %}</button></p>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
