{% extends "base_admin.html" %}
{% load i18n staticfiles filters %}

{% block content %}
    <div class="box box-primary">
        <div class="box-body no-padding">
            <table class="table table-hover tablesorter" id="myTable">
                <thead>
                <tr>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Timestamp" %}</th>
                    <th>{% trans "Object" %}</th>
                    <th>{% trans "Action" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for logitem in log %}
                <tr>
                    <td><a href="{% url "itdagene.users.user_detail" logitem.user.pk %}">{{ logitem.user.get_full_name }}</a></td>
                    <td>{{ logitem.timestamp|timesince }} {% trans "ago" %}</td>
                    <td>({{ logitem.content_type }}): {{ logitem.content_object }}</td>
                    <td><a href="{{ logitem.content_object.get_absolute_url }}">{{ logitem }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="box-footer">
            <div class="btn-group">
                {% if previous %}<a href="{% url "itdagene.itdageneadmin.log" previous %}" class="btn btn-primary">{% trans "Previous" %}</a>{% endif %} <a href="{% url "itdagene.itdageneadmin.log" next %}" class="btn btn-primary">{% trans "Next" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block inline-scripts %}
    <script src="{% static "lib/jquery.tablesorter/js/jquery.tablesorter.min.js" %}"></script>
    <script>
        $(document).ready(function()
                {
                    $("#myTable").tablesorter({textExtraction: 'complex'});
                }
        );
    </script>
{% endblock %}

