{% load i18n %}
{% load menu %}

<ul class="nav nav-treeview">

    {% if request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link {% active request 'admin/$' %}" href="{% url "itdagene.itdageneadmin.landing_page" %}">
                <i class="far fa-circle"></i> {% trans "Admin" %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% active request 'admin/log' %}" href="{% url "itdagene.itdageneadmin.log" %}">
                <i class="far fa-circle"></i> {% trans "Log" %}
            </a>
        </li>
    {% endif %}
    {% if perms.core.change_preference or request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link {% active request 'admin/preferences' %}" href="{% url "itdagene.itdageneadmin.preferences.edit" %}">
                <i class="far fa-circle"></i> {% trans "Preferences" %}
            </a>
        </li>
    {% endif %}
    {% if request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link {% active request 'admin/groups/$' %}" href="{% url "itdagene.itdageneadmin.groups.list" %}">
                <i class="far fa-circle"></i> {% trans "Groups" %}
            </a>
        </li>
    {% endif %}
    {% if perms.auth.add_group %}
        <li class="nav-item">
            <a class="nav-link {% active request 'admin/groups/add' %}" href="{% url "itdagene.itdageneadmin.groups.add" %}">
                <i class="far fa-circle"></i> {% trans "Add Group" %}
            </a>
        </li>
    {% endif %}
    {% if group.pk %}
        {% if perms.auth.change_group %}
            <li class="nav-item">
                <a class="nav-link {% active request 'admin/groups/[0-9]+/edit' %}" href="{% url "itdagene.itdageneadmin.groups.edit" group.pk %}">
                    <i class="far fa-circle"></i> {% trans "Edit Group" %}
                </a>
            </li>
        {% endif %}
    {% endif %}


</ul>
