{% extends "base_admin.html" %}

{% load i18n %}

{% block content %}
<div class="row">
<div class="col-lg-12">
    <div class="card card-outline card-danger card-solid">
        <div class="card-header">
            <h3 class="card-title">{% trans "Danger Zone" %}</h3>
        </div>
        <div class="card-body">
             <form method="post" action="{% url "itdagene.stands.delete" stand.pk %}">
                {% csrf_token %}
                <p>{% blocktrans with stand=stand %}Are you sure you want to delete the stand {{ stand }}?{% endblocktrans %}</p>
                <p><button type="submit" class="btn btn-danger">{% trans "Delete stand" %}</button></p>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}
