{% extends "base.html" %}

{% load static i18n %}
{% load core thumbnail menu widget_tweaks %}
{% load crispy_forms_tags %}

{% block styles %}
    <link href="{% static "css/admin/AdminLTE.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block body_class %}
    skin-black login-page
{% endblock %}


{% block body %}

    <div class="login-box">
        <div class="login-logo">
            <img src="{% static "img/itdagene_flat.png" %}">
        </div>
        <div class="login-box-body">

            <form action="{% url "login" %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Log in" %}</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}


{% block scripts %}
{% endblock %}
