{% extends "base.html" %}

{% load static i18n %}
{% load core thumbnail menu widget_tweaks %}
{% load crispy_forms_tags %}

{% block styles %}
    <link href="{% static "css/admin/AdminLTE.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body_class %}
    skin-itdagene bg-black
{% endblock %}


{% block body %}

    <div class="form-box" id="login-box">
        <div class="header">
            <img src="{% static "img/itdagenelogoflat.png" %}">
        </div>
        <form action="{% url "django.contrib.auth.views.login" %}" method="post">
            <div class="body">
                {% csrf_token %}

                {{ form|crispy }}

            </div>
            <div class="footer">
                <button type="submit" class="btn btn-primary btn-block">{% trans "Log in" %}</button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
        </form>
    </div>

{% endblock %}


{% block scripts %}
{% endblock %}
