{% load i18n %}

<li class="nav-item dropdown">
    <a class="nav-link" href="#" data-toggle="dropdown">
        <i class="fas fa-bell"></i>
        {% if notifications %}
            <span class="badge badge-warning navbar-badge">{{ notifications|length }}</span>
        {% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-header">
            {% blocktrans with notification_count=notifications|length %}You have {{ notification_count }} notifications{% endblocktrans %}
        </span>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                {% for notification in notifications %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ notification.content_object.get_absolute_url }}">
                        <i class="fas fa-exclamation {% if notification.priority == 0 %}success{% elif notification.priority == 1 %}warning{% else %}danger{% endif %}"></i>
                        {{ notification.message }}
                    </a>
                {% endfor %}
    </div>
</li>
