{% extends "core/profiles/base.html" %}

{% block content %}
    <div class="profiles">
        <h1>Profiler</h1>

        <table class="table table-striped">
            <tr>
                <th>Navn</th>
                <th>Stilling</th>
                <th>Telefonnummer</th>
                <th>E-post</th>
            </tr>

            {% for profile in profile_list %}
            <tr id="profile-{{ profile.pk }}">
                <td><a href="{% url 'profile_backend:detail' profile.user.id %}">{{ profile }}</a></td>
                <td>{{ profile.position }}</td>
                <td>{{ profile.phone }}</td>
                <td>{{ profile.user.email }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Ingen profiler å vise</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
