{% extends "core/profiles/base.html" %}

{% load i18n thumbnail  %}

{% block content %}
    <div class="profile" id="profile-{{ profile.user.pk }}">
        <header>
            <h1>{{ profile }}</h1>

            {% if profile.type == 'b' %}
            <p>
                <em>
                    {% if profile.year != current_year %}
                    Pang {{ profile.year }} -
                    {% endif %}
                    {{ profile.position }}
                </em>
            </p>
            {% endif %}
        </header>

        <div class="row">
            <div class="col-md-10">
                <dl class="dl-horizontal">
                    <dt>Telefonnummer</dt>
                    <dd>{{ profile.phone }}</dd>

                    <dt>E-post</dt>
                    <dd>
                        {% if profile.position.email %}{{ profile.position.email }}<br/>{% endif %}
                        {{ profile.user.email }}
                    </dd>
                </dl>

                <div class="btn-group">
                    <a href="{% url 'profile_backend:list' %}">
                        <button type="button" class="btn btn-default">Tilbake</button>
                    </a>
                </div>
            </div>

            <div class="col-md-2">
                {% if profile.photo %}
                {% thumbnail profile.photo "200" as im %}
                <p style="text-align: center">
                    <img src="{{ im.url }}" style="width:100%; max-width: 150px;" class="img-circle">
                </p>
                {% endthumbnail %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}