{% extends base_template %}
{% load i18n filters %}

{% block include %}
    <script src="/static/js/details-list.js"></script>
    <script src="/static/js/companies.js"></script>
{% endblock %}

{% block content %}
    <h1>{% trans "Companies" %}</h1>
    {% if user_companies %}
        <h3>{% trans "Your responsibility" %}</h3>
        <ul class="details-list">
            {% for company in user_companies %}
                <li>
                    <em>{% trans "Todo" %}: {{ company.unfinished_todos.count }}</em>
                    <h4><a href="{% url app.company.views.view company.pk %}">{{ company }}</a></h4>

                    <div>
                        <strong>{% trans "Status" %}:</strong> {{ company.get_status_display }}<br/>

                        <div class="details">
                            {% if company.package %}<strong>{% trans "Package" %}:</strong>
                                {% if company.package.all %}{% for p in company.package.all %}{{ p.name }}
                                    , {% endfor %}{% else %}{% trans "None" %}{% endif %}
                                <br/>{% endif %}
                            {% if company.phone %}<strong>{% trans "Phone number" %}:</strong> {{ company.phone }}
                                <br/>{% endif %}
                            {% if company.course %}<strong>{% trans "Course" %}:</strong> {{ company.course }}
                                <br/>{% endif %}
                            {% if company.company_contacts.count > 0 %}
                                <strong>{% trans "Contacts" %}:</strong>{% endif %}
                            <ul>
                                {% for contact in company.company_contacts.all %}
                                    <li>
                                        {{ contact }}
                                        {% if contact.phone %} - {{ contact.phone }}{% endif %}
                                        {% if contact.email %}- {{ contact.email }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <h3>{% trans "Other companies" %}</h3>
    {% endif %}
    <div class="filters">
        <strong>{% trans "Status" %}:</strong>
        <select name="status">
            <option value="all" selected="selected">---</option>
            <option value="0">{% trans "Not contacted" %}</option>
            <option value="4">{% trans "Contacted" %}</option>
            <option value="1">{% trans "Not interested" %}</option>
            <option value="2">{% trans "Interested" %}</option>
            <option value="3">{% trans "Signed" %}</option>
        </select>
    </div>
    <table cellspacing="0" width="100%" class="filtered">
        <tr>
            <th>{% trans "Company" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Package" %}</th>
            <th>{% trans "Assigned to" %}</th>
            <th>{% trans "Contracts" %}</th>
        </tr>
        {% for company in companies %}
            <tr>
                <td><a href="{% url app.company.views.view company.pk %}">{{ company }}</a></td>
                <td {% if company.status == 0 %}class="red-bg"{% endif %}>{{ company.get_status_display }}</td>
                <td {% if not company.package %}class="red-bg"{% endif %}>
                    {% if company.package %}{{ company.package.name }}{% else %}{% trans "None" %}{% endif %}</td>
                <td>{% if company.contact %}{{ company.contact.profile }}{% endif %}</td>
                <td>{% if company.contracts.all %}{{ "True"|boolean }}{% else %}{{ ""|boolean }}{% endif %}</td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}
