{% extends "company/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Companies" %}</h1>
    <div class="row">
        <form method="post" class="col-md-4">
            {{ formset.management_form }}{% csrf_token %}
            <table cellspacing="0" width=20% class="table">
                {% for form in formset %}
                    <tr>
                        <th>{{ form.instance.name }}</th>
                        <td>
                            {{ form.contact }}<br/>
                            {{ form.contact.errors }}
                            {{ form.id }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        </form>
    </div>
{% endblock %}

{% block submenu %}
    {% include "company/submenu.html" %}
{% endblock %}