{% extends "company/base.html" %}
{% load i18n comments companies core %}


{% block content %}

   <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                   <h3 class="card-title">{% trans "General" %}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="dl-horizontal">
                                <dt>{% trans "Status" %}</dt>
                                <dd>{{ company.get_status_display }}</dd>
                                {% if company.phone %}
                                    <dt>{% trans "Phone number" %}</dt>
                                    <dd>{{ company.phone }}</dd>
                                {% endif %}
                                {% if company.fax %}
                                    <dt>{% trans "Fax" %}</dt>
                                    <dd>{{ company.fax }}
                                {% endif %}
                                <dt>{% trans "Package" %}</dt>
                                {% if company.package %}
                                    <dd>{{ company.package.name }}</dd>
                                {% else %}
                                    <dd>{% trans "None" %}</dd>
                                {% endif %}
                                <dt>{% trans "Course" %}</dt>
                                <dd>{{ company.course }}</dd>
                                {% if company.contact %}
                                    <dt>{% trans "itDAGENE contact" %}</dt>
                                    <dd>{{ company.contact }}</dd>
                                {% endif %}
                                {% if company.payment_address %}
                                    <dt>{% trans "Payment address" %}:</dt>
                                    <dd><address>
                                        {{ company.payment_address|linebreaksbr }}
                                    </address></dd>
                                {% endif %}
                                {% if company.payment_email %}
                                    <dt>{% trans "Payment email" %}:</dt>
                                    <dd>{{ company.payment_email }}</dd>
                                {%  endif %}
                                {% if evaluation %}
                                    <dt>{% trans "Evaluation" %}</dt>
                                    <dd><a href="{% url "itdagene.feedback.evalutions.handle_evaluation" evaluation.hash %}">{% trans "View evaluation form" %}</a></dd>
                                {% endif %}
                            </dl>
                        </div>
                        <div class="col-lg-6">

                            {% book_form company %}

                            {% waiting_list_form company %}

                            {% status_form company %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>

   <div class="row">
   <div class="col-lg-6">
       <div class="card card-outline card-primary">
           <div class="card-header">
               <h3 class="card-title">{% trans "Contacts" %}</h3>
           </div>
           <div class="card-body">
                <div class="row">
                    {% for contact in company.company_contacts.all %}
                        <div class="col-md-6 company-contact">
                            <h4>{{ contact }}</h4>
                            {% if contact.current %}<em>{% trans 'Current contact' %}</em><br/>{% endif %}
                            {% if contact.position %}<em>{{ contact.position }}</em><br/>{% endif %}
                            {% if contact.phone %}<strong>{% trans "Phone" %}:</strong> {{ contact.phone }}<br/>{% endif %}
                            {% if contact.mobile_phone %}<strong>{% trans "Mobile" %}:</strong> {{ contact.mobile_phone }}
                                <br/>{% endif %}
                            {% if contact.email %}<strong>{% trans "Email" %}:</strong> {{ contact.email }}
                                <br/>{% endif %}
                            <a style="margin-right: 5px;" href="{% url "itdagene.company.company_contacts.vcard" contact.pk %}">{% trans "Download vcard-file" %}</a><br/>
                            <a style="margin-right: 5px;" href="{% url "itdagene.company.company_contacts.edit_contact" contact.pk %}"><i class="fas fa-pencil"></i> {% trans "Edit" %}</a>
                            <a href="{% url "itdagene.company.company_contacts.delete_contact" contact.pk %}"><i class="fas fa-trash"></i> {% trans "Delete" %}</a>
                        </div>
                    {% endfor %}
                </div>
           </div>
       </div>

       <div class="card card-outline card-primary">
           <div class="card-header">
               <h3 class="card-title">{% trans "Joblistings" %}</h3>
           </div>
           <div class="card-body no-padding">
               <table class="table table-hover">
                {% for joblisting in company.joblistings.all %}
                {% if joblisting.deadline|date_is_not_expired %}
                    <tr>
                        <td><a href="{% url "itdagene.career.view" joblisting.pk %}">{{ joblisting }}</a></td>
                        <td>{{ joblisting.get_type_display }}</td>
                        {% if joblisting.deadline %}
                            <td>{{ joblisting.deadline }}</td>
                        {% else %}
                            <td>{% trans "No deadline" %}</td>
                        {% endif %}
                        <td><a href="{% url "itdagene.career.edit" joblisting.pk %}">{% trans "Edit" %}</a></td>
                    </tr>
                {% endif %}
                {% endfor %}
               </table>
           </div>
       </div>

       <div class="card card-outline card-primary">
           <div class="card-header">
               <h3 class="card-title">{% trans "Contracts" %}</h3>
           </div>
           <div class="card-body no-padding">
               <table class="table table-hover">
                   {% for contract in company.contracts.all %}
                        <tr><td>{{ contract.timestamp }}</td><td>{% if contract.file %}<a href="{% url "itdagene.company.contracts.download_contract" contract.company.pk contract.id %}">{% trans "Download file" %}</a>{% endif %}</td><td>{% if perms.company.change_contract %}<a href="{% url "itdagene.company.contracts.edit_contract" company.id contract.id %}"><i class="fas fa-pencil"></i></a>{% endif %}</td></tr>
                    {% endfor %}
               </table>
           </div>
       </div>
   </div>
   <div class="col-lg-6">
       {% load_comments company %}
   </div>
   </div>


{% endblock %}
