{% extends "base_admin.html" %}
{% load i18n staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline card-primary">
                <div class="card-body no-padding">
                    <table class="table table-hover tablesorter" id="myTable">
                    <thead>
                        <tr>
                            <th>{% trans "Company" %}</th>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Deadline" %}</th>
                            <th>{% trans "Created" %}</th>
                            <th>{% trans "Creator" %}</th>
                            <th>{% trans "Active" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for joblisting in joblistings %}
                            <tr>
                                <td><a href="{{ joblisting.company.get_absolute_url }}">{{ joblisting.company }}</a></td>
                                <td><a href="{% url "itdagene.career.view" joblisting.pk %}">{{ joblisting }}</a></td>
                                <td>{{ joblisting.get_type_display }}</td>
                                <td>{% if joblisting.deadline %}{{ joblisting.deadline }}
                                    {% else %}{% trans "ASAP" %}{% endif %}</td>
                                <td>{{ joblisting.date_created|date }}</td>
                                <td>{{ joblisting.creator }}</td>
                                <td>
                                    {% if joblisting.is_active and not joblisting.has_deadline_passed%}
                                        <span style="display: none;">1</span>
                                        <i style="color: green;" class="fas fa-check"></i>
                                    {% else %}
                                        <span style="display: none;">0</span>
                                        <i style="color: red;" class="fas fa-times"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block inline-scripts %}
    <script src="{% static "lib/tablesorter/dist/js/jquery.tablesorter.combined.min.js" %}"></script>
    <script>
        $(document).ready(function()
                {
                    $("#myTable").tablesorter({textExtraction: 'complex'});
                }
        );
    </script>
{% endblock %}
