{% extends "base_admin.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <table class="table table-hover" data-toggle="table" data-sort-name="name">
                    <thead>
                        <tr>
                            <th data-sortable="true">{% trans "Company" %}</th>
                            <th data-sortable="true">{% trans "Title" %}</th>
                            <th data-sortable="true">{% trans "Type" %}</th>
                            <th data-sortable="true">{% trans "Deadline" %}</th>
                            <th data-sortable="true">{% trans "Created" %}</th>
                            <th data-sortable="true">{% trans "Creator" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for joblisting in joblistings %}
                            <tr>
                                <td><a href="{{ joblisting.company.get_absolute_url }}">{{ joblisting.company }}</a></td>
                                <td><a href="{% url "itdagene.app.career.views.view" joblisting.pk %}">{{ joblisting }}</a></td>
                                <td>{{ joblisting.get_type_display }}</td>
                                <td>{% if joblisting.deadline %}{{ joblisting.deadline }}
                                    {% else %}{% trans "ASAP" %}{% endif %}</td>
                                <td>{{ joblisting.date_created|date }}</td>
                                <td>{{ joblisting.creator }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
