{% load i18n %}
<ul class="treeview-menu">
    <li><a href="{% url "itdagene.app.career.views.list" %}"><i class="fa fa-circle-o"></i> {% trans "Joblistings" %}</a></li>
    {% if perms.career.add_joblisting %}
        <li><a href="{% url "itdagene.app.career.views.add" %}"><i class="fa fa-circle-o"></i> {% trans "Add joblisting" %}</a></li>
    {% endif %}
    {% if joblisting.pk %}
        {% if perms.career.change_joblisting %}
            <li><a href="{% url "itdagene.app.career.views.edit" joblisting.pk %}"><i class="fa fa-circle-o"></i> {% trans "Edit joblisting" %}</a></li>
        {% endif %}
        {% if perms.career.delete_joblisting %}
            <li><a href="{% url "itdagene.app.career.views.delete" joblisting.pk %}"><i class="fa fa-circle-o"></i> {% trans "Delete joblisting" %}</a></li>
        {% endif %}
    {% endif %}
    {% if perms.career.add_town %}
        <li><a href="{% url "itdagene.app.career.views.add_town" %}"><i class="fa fa-circle-o"></i> {% trans "Add town" %}</a></li>
    {% endif %}
</ul>
