.companies-holder

  .btn-days
    border-radius 100px
    box-shadow none
    border-color logo-color
    border-width 2px
    text-transform uppercase

    &:hover, &:focus, &:active
      color logo-color

    &:hover
      color #999

    &.active
      background-color logo-color
      color #FFF

  .companies-tab
    margin-top 20px
    margin-bottom 20px

  .company-image
    height 150px
    display flex
    align-items center

    a
      transition 1s

    &:hover
      a
        width 95%
        margin auto


.collaborators-holder
  .company-image
    height 150px
    display flex
    align-items center

    a
      transition 1s

    &:hover
      a
        width 95%
        margin auto
