.news-articles

  .job
    margin-bottom 10px
    display block

    .job-header
      font-family header-font
      margin 0
      padding 0
      color #000000
      transition 0.3s

    .job-info
      padding 0
      margin 0

    &:hover, &:focus, &:active
      text-decoration none

    &:hover
      .job-header
        color logo-color
