@import 'nib'
@import "/static/lib/animate.css/animate.min.css"
@import "/static/lib/font-awsome/css/font-awesome.min.css"
@import "/static/lib/ionicons/css/ionicons.min.css"

@import url("https://fonts.googleapis.com/css?family=Open+Sans")
@import url("https://fonts.googleapis.com/css?family=Slabo+27px")
@import url("https://fonts.googleapis.com/css?family=Lato")
@import url("https://fonts.googleapis.com/css?family=Marvel")

header-font = 'Open Sans', sans-serif
footer-font = header-font
hsp-font = 'Slabo 27px', serif
banner-font = 'Lato', sans-serif
inline-header-font = 'Marvel', sans-serif
logo-color = #4287C2

@import "navbar.styl";
@import "banner.styl";
@import "timeline.styl";
@import "board.styl";
@import "news.styl";
@import "joblistings.styl";
@import "companies-carousel.styl";
@import "company.styl";
@import "footer.styl";

body, html
  background-color #3a3a3a

a
  transition 0.3s

.section
  padding-bottom 20px
  background-color #FFFFFF

  h2.header
    font-family inline-header-font
    font-size 30px
    margin 0
    padding 0
    padding-top 30px
    text-transform uppercase

    &::after
      width 100px
      border-bottom 3px solid logo-color
      margin 4px auto 20px
      content ""
      height 0
      display block
      position relative
