@import 'nib'
@import "/static/lib/animate.css/animate.min.css"
@import "/static/lib/font-awsome/css/font-awesome.min.css"
@import "/static/lib/ionicons/css/ionicons.min.css"
@import "/static/lib/hover/css/hover-min.css"

@import url("http://fonts.googleapis.com/css?family=Open+Sans")

header-font = 'Open Sans', sans-serif
footer-font = header-font

@import "footer.styl";

a
  transition 0.3s
