{% extends base_template %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Experiences" %}</h1>
        {% for year, experiences in experience_lists %}
        <h3>{{ year }}</h3>
        <ul>
            {% for experience in experiences %}
                <li><a href="{% url itdagene.app.experiences.views.view experience.pk %}">{{ experience }}</a> <em>{% trans "Last updated" %}: {{ experience.last_updated }}</em><li>
            {% endfor %}
        </ul>
        {% endfor %}

        <br>
        <a href="{% url app.experiences.views.add %}" class="button">{% trans "Add Experience" %}</a>

{% endblock %}