{% load i18n %}
<ul class="treeview-menu">

    {% if request.user.is_staff %}
    <li><a href="{% url "itdagene.experiences.list" %}"><i class="fa fa-circle-o"></i> {% trans "Experiences" %}</a> </li>
    {% if perms.experiences.add_experience %}
        <li><a href="{% url "itdagene.experiences.add" %}"><i class="fa fa-circle-o"></i> {% trans "Add Experience" %}</a></li>
    {% endif %}
    {% if experience.pk %}
        {% if perms.experiences.change_experience %}
        <li><a href="{% url "itdagene.experiences.edit" experience.pk %}"><i class="fa fa-circle-o"></i> {% trans "Edit Experience" %}</a></li>
        {% endif %}
    {% endif %}
    {% endif %}
</ul>
