{% extends "base_admin.html" %}
{% load i18n %}
{% load markdown_tool %}
{% block content %}

        <div class="row">
        <div class="col-lg-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">{% trans "Description" %}</h3>
                <div class="card-tools pull-right">
                    <div class="badge bg-aqua"><em>{% trans "Last updated" %} {{ experience.last_updated }}</em></div>
                </div>
            </div>
            <div class="card-body">
                {{ experience.text|markdownize }}
            </div>
        </div>
        </div>
        </div>

{% endblock %}
