{% extends "base_admin.html" %}
{% load i18n %}
{% load markdown_tool %}
{% block content %}

        <div class="row">
        <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{% trans "Description" %}</h3>
                <div class="box-tools pull-right">
                    <div class="label bg-aqua"><em>{% trans "Last updated" %} {{ experience.last_updated }}</em></div>
                </div>
            </div>
            <div class="box-body">
                {{ experience.text|markdownize }}
            </div>
        </div>
        </div>
        </div>

{% endblock %}
