{% load staticfiles %}
{% load core %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ site.name }}
            {% if description %}
                &bullet; {{ description }}
            {% elif title %}
                &bullet; {{ title }}
            {% endif %}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/6bf84dc3ab.js" crossorigin="anonymous"></script>

        <script src="{% static "lib/moment/min/moment-with-locales.min.js" %}"></script>
        {% block styles %}{% endblock %}
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
    </head>
    <body class="{% block body_class %}{% endblock %}">

        {% block body %}

        {% endblock %}

        <script src="{% static "lib/jquery/dist/jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "lib/bootstrap/dist/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>

        <script src="{% static "lib/admin-lte/dist/js/adminlte.js" %}" type="text/javascript"></script>
        <script src="{% static "js/global.js" %}" type="text/javascript"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
