{% load i18n %}
{% load menu core thumbnail cache %}
{% load twitter_modules %}
<!DOCTYPE html>
<html>
<head>
    <title>itDAGENE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/icon.png">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/icon.png">
    <script src="{{ STATIC_URL }}lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="{{ STATIC_URL }}lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/base_public_main.css" rel="stylesheet">
    {% analytics %}
    {% block include %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}img/itdagene_logo.png" width="173" height="41" title="itDAGENE"/></a>
        </div>
        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% menu request %}
            </ul>
        </div>
    </nav>
</header>
<section>
    <article id="main" class="block">
        {% if error_message %}<div id="message" class="error">{{ error_message }}</div>{% endif %}
        {% if info_message %}<div id="message" class="info">{{ info_message }}</div>{% endif %}
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
    </article>
</section>
<footer class="navbar-fixed-bottom">
    <hr/>
    <div class="adress text-center">itDAGENE {% now "Y" %} | Sem Sælands vei 7-9 | 7491 Trondheim | <a href="mailto:bedrift@itdagene.no">bedrift@itdagene.no</a> | org.nr: 912 601 625</div>
</footer>
</body>
</html>
