{% extends "newbase.html" %}

{% load static i18n %}
{% load core thumbnail menu%}

{% block styles %}
{% endblock %}


{% block body_class %}
    skin-itdagene
{% endblock %}


{% block body %}
    {% if request.user.is_authenticated %}
    <header class="header">
        <a href="/" class="logo">
            {{ site.name }}
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>{{ request.user.first_name }} {{ request.user.last_name }} <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header bg-black">
                                {% if profile.photo %}
                                    {% thumbnail profile.photo "100x100" crop="center" as im %}
                                        <img src="{{ im.url }}" class="img-circle">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="{% static "img/user_blank.png" %}" class="img-circle" />
                                {% endif %}
                                <p>
                                    {{ request.user.get_full_name }} - {{ profile.position.title }}
                                    <small>{% blocktrans with date=request.user.date_joined|timesince %}Joined {{ date }} ago{% endblocktrans %}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{% url 'users:detail' user.pk %}" class="btn btn-default btn-flat">{% trans "Profile" %}</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/logout" class="btn btn-default btn-flat">{% trans "Logout" %}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        {% if profile.photo %}
                            {% thumbnail profile.photo "50x50" crop="center" as im %}
                                <img src="{{ im.url }}" class="img-circle">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{% static "img/user_blank.png" %}" class="img-circle" />
                        {% endif %}
                    </div>
                    <div class="pull-left info">
                        <p>{{ request.user.first_name }}</p>
                        <p>{{ request.user.last_name }}</p>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="{% active request 'fp' %}">
                        <a href="{% url "frontpage" %}"><span class="glyphicon glyphicon-home"></span> {% trans "Home" %}</a>
                    </li>
                    <li class="{% active request 'pages' %} treeview"><a href="#"><span class="glyphicon glyphicon-bookmark"></span> {% trans "Pages" %} <i class="fa fa-angle-left pull-right"></i> </a>
                        {% include 'pages/submenu.html' %}
                    </li>
                    {% if perms.news.change_announcement %}
                        <li class="{% active request 'news' %}"><a href="{% url "create_announcement" %}"><span class="glyphicon glyphicon-bullhorn"></span> {% trans "Add announcement" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.frontpage.change_offer %}
                        <li class="{% active request 'what-we-offer' %}"><a href="{% url "edit_what_we_offer" %}"><span class="glyphicon glyphicon-magnet"></span> {% trans "What we offer" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.company.change_company %}
                        <li class="{% active request 'companies' %} treeview"><a href="#"><span class="glyphicon glyphicon-briefcase"></span> {% trans "Companies" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'company/submenu.html' %}
                        </li>
                    {% endif %}
                    {% if perms.company.change_package %}
                        <li class="{% active request 'packages' %} treeview"><a href="#"><span class="glyphicon glyphicon-gift"></span> {% trans "Packages" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'company/packages/submenu.html' %}
                        </li>
                    {% endif %}
                    {% if perms.venue.change_stand %}
                        <li class="{% active request 'venue' %} treeview"><a href="#"><span class="glyphicon glyphicon-map-marker"></span> {% trans "Venue" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'venue/submenu.html' %}
                        </li>
                    {% endif %}
                    {% if perms.career.change_joblisting %}
                        <li class="{% active request 'joblistings' %} treeview"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> {% trans "Joblistings" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'career/submenu.html' %}
                        </li>
                    {% endif %}
                    {% if perms.documents.change_document %}
                        <li class="{% active request 'documents' %} treeview"><a href="#"><span class="glyphicon glyphicon-file"></span> {% trans "Documents" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'documents/submenu.html' %}
                        </li>
                    {% endif %}
                    {% if perms.events.change_event %}
                        <li class="{% active request 'events' %} treeview"><a href="#"><span class="glyphicon glyphicon-calendar"></span> {% trans "Events" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'events/submenu.html' %}
                        </li>
                    {% endif %}
                    {% if perms.meetings.change_meeting %}
                        <li class="{% active request 'meetings' %} treeview"><a href="#"><span class="glyphicon glyphicon-comment"></span> {% trans "Meetings" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'meetings/submenu.html' %}
                        </li>
                    {% endif %}
                    <li class="{% active request 'users' %} treeview"><a href="#"><span class="glyphicon glyphicon-user"></span> {% trans "Users" %} <i class="fa fa-angle-left pull-right"></i> </a>
                        {% include 'core/profiles/submenu.html' %}
                    </li>
                    {% if perms.workschedule.view_worker %}
                        <li class="{% active request 'workschedules' %} treeview"><a href="#"><span class="glyphicon glyphicon-list"></span> {% trans "Workschedules" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'workschedule/submenu.html' %}
                        </li>
                    {% endif %}
                    {% if perms.meetings.change_meeting %}
                        <li class="{% active request 'experiences' %} treeview"><a href="{% url "experiences" %}"><span class="glyphicon glyphicon-pushpin"></span> {% trans "Experiences" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'experiences/submenu.html' %}
                        </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <li class="{% active request 'admin' %} treeview"><a href="#"><span class="glyphicon glyphicon-tower"></span> {% trans "Admin" %} <i class="fa fa-angle-left pull-right"></i> </a>
                            {% include 'admin/submenu.html' %}
                        </li>
                    {% endif %}
                </ul>
            </section>
        </aside>

        <aside class="right-side">
            {% if title %}
            <section class="content-header">
                <h1>
                    {{ title }}
                    <small>{{ description }}</small>
                </h1>
            </section>
            {% endif %}
            <section class="content">

                {% block content %}
                {% endblock %}

                <div class="row">
                    <footer class="col-lg-12 footer">
                        {{ site.name }} {% now "Y" %} &bullet; {{ site.address }}, {{ site.zip_code }} {{ site.town }} &bullet; <a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a> &bullet; org.nr: {{ site.organization_number }}
                    </footer>
                </div>

            </section>
        </aside>
    </div>
    {% endif %}
{% endblock %}


{% block scripts %}
{% endblock %}