
{% load i18n %}


{% if messages %}

    <section class="content">

    {% for message in messages %}
    <div class="callout callout-{% if message.tags %}{{ message.tags }}{% endif %}">
        <h4>
            {% if message.tags == 'success' %}
                {% trans "Success" %}
            {% elif message.tags == 'info' %}
                {% trans "Information" %}
            {% elif message.tags == 'warning' %}
                {% trans "Warning" %}
            {% elif message.tags == 'danger' %}
                {% trans "Error" %}
            {% endif %}
        </h4>
        <p>{{ message }}</p>
    </div>
    {% endfor %}

    </section>

{% endif %}