{% load i18n thumbnail crispy_forms_tags static %}

<div class="box box-success">
    <div class="box-header">
        <i class="fa fa-comments-o"></i>
        <h3 class="box-title">Comments</h3>
    </div>

    {% if form %}
    <div class="box-body" style="height: 180px">

        <form action="{% url "itdagene.comments.add" %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="pull-right">
                <button class="btn btn-success">{% trans "Add Comment" %}</button>
            </div>
        </form>

    </div>
    {% endif %}

    <div class="box-body chat" id="chat-box">
        {% for comment in comments %}
        <div class="item">

            {% if comment.user.photo %}
                {% thumbnail comment.user.photo "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" class="img-circle">
                {% endthumbnail %}
            {% else %}
                <img src="{% static "img/user_blank.png" %}" class="img-circle" />
            {% endif %}

            <p class="message">
                <a href="{{ comment.user.get_absolute_url }}" class="name">
                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{ comment.date|timesince }} {% trans "ago" %}</small>
                    {{ comment.user }}
                </a>
                {{ comment.comment|linebreaksbr }}
            </p>
        </div>

        {% endfor %}
    </div>
</div>
