{% extends "base_admin.html" %}
{% load i18n %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline card-solid bg-light-blue">
                <div class="card-body">
                    <p>
                        {% if todo.deadline %}
                            {% if todo.deadline < now %}
                                <small class="badge badge-danger"><i class="fas fa-clock-o"></i> {{ todo.deadline|timesince }} {% trans "ago" %}</small>
                            {% else %}
                                <small class="badge badge-success"><i class="fas fa-clock-o"></i> {{ todo.deadline|timeuntil }} {% trans "left" %}</small>
                            {% endif %}
                        {% endif %}
                        <br/>
                        <br/>
                        {{ todo.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
