{% extends base_template %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Documents" %}</h1>
    <ul class="nav nav-tabs">
        {% for year in years %}
            <li {% if year == years|first %} class="active" {% endif %}><a href="#{{ year }}-pane" data-toggle="tab">{{ year }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for year, documents in document_list %}
            <div class="tab-pane {% if year == years|first %}active{% endif %}" id="{{ year }}-pane">
                <table id="document-table" class="table table-striped table-hover">
                    <tr class="active">
                        <th><strong>{% trans "Title" %}</strong></th>
                    </tr>
                    {% for doc in documents %}
                        <tr><td><a href="{% url "download_document" doc.pk %}">{{ doc }}</a><br/></td></tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}